.company--heading.candidate span {
    color: #5C3B2E !important;
}

.company--heading.candidate {
    line-height: normal;
}

.job-search-content-lg {
    padding-top: 40px;
    padding-bottom: 10px;
}

.job-search-content-lg p {
    margin-bottom: 0;
    color: #5C3B2E;
    font-size: 28px;
    font-weight: 400;
    text-transform: capitalize;
}

.job-search-content-md p {
    padding-top: 30px;
    color: #5C3B2E;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 0;
}

.job-search-head {
    color: #5C3B2E;
    font-size: 20px;
    font-weight: 500;
    padding: 40px 0 10px 0;
}

.cli--emploment-detail-head.job {
    font-size: 15px;
    font-weight: 600;
}

.cli-tal-pro-search-filter-toggle-area.job {
    padding: 30px 15px 30px 0px;
}

.cli-tal-pro-search-filter-content-section.job {
    /* border: none; */
}

.cli--mark-keyword-area.job {
    margin-top: 0;
    margin-bottom: 14px;
}

.jobs-view-more-btn {
    color: #457DE0;
    font-size: 11px;
    font-weight: 700;
    background-color: transparent;
    outline: none;
    border: none;
}

.job-search-multi-check-area .cli--mark-keyword-area.job:nth-child(n+5) {
    display: none;
}

.row-border-custom.job {
    border-bottom: 1px solid #714F36;
}

.pl--package-btn.job {
    font-size: 20px;
}

.tal--search-submit-btn.dash {
    white-space: nowrap;
}

.clear--all_button.dash,
.tal--search-submit-btn.dash {
    font-size: 16px !important;
}

.clear--all_button-area.dash {
    justify-content: center;
    gap: 10px;
}

.pl--package-btn-sub {
    outline: none !important;
    border: none;
    background-color: transparent !important;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    transition: ease-in-out 0.5s;
    position: relative;
    white-space: nowrap;
}

.pl--package-arrow-area {
    border-radius: 50%;
    background-color: #714F36;
    padding: 17px;
    transition: ease-in-out 0.8s;
    position: relative;
}

.pl--package-arrow-area svg,
.pl--package-arrow-area svg path,
.pl--package-arrow-area.prev svg,
.pl--package-arrow-area.prev svg path {
    transition: ease-in-out 0.8s;
}

.pl--package-btn {
    border-radius: 48px;
    background-color: #714F36;
    padding: 13px 45px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    overflow: hidden !important;
    transition: ease-in-out 0.5s;
}

.pl--package-btn.job {
    font-size: 20px;
}

.jobs-view-more-btn:focus,
.jobs-view-more-btn:active {
    border: none;
    outline: none;
}

.job--detail-card {
    border-radius: 12px;
    background-color: #F9C833;
    padding: 25px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid #FFF;
    border-bottom: 5px solid #FFF;
    transition: ease-in-out 0.8s !important;
    margin-bottom: 30px;
}

.job--detail-card:hover {
    transform: translateY(-8px) !important;
    border-color: #714F36;
}

.job--detail-card-top-area {
    display: flex;
    justify-content: space-between;
}

.job--detail-card-top-area .job--detail-card-role {
    color: #714F36;
    font-size: 20px;
    font-weight: 700;
    transition: ease-in-out 0.8s !important;
    text-transform: capitalize;
}

/* .job--detail-card:hover .job--detail-card-top-area .job--detail-card-role {
    letter-spacing: 1px;
} */

.job--detail-card-review-area {
    margin-top: 15px;
    display: flex;
    gap: 35px;
    align-items: center;
}

.job--detail-card-review-area .job--detail-card-review {
    color: #714F36;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.job--detail-card-review-area .job--detail-card-rating i {
    color: #FFF;
    font-size: 20px;
    margin-right: 8px;
    transition: ease-in-out 0.8s !important;
}

.job--detail-card:hover .job--detail-card-review-area .job--detail-card-rating i {
    color: #ffffff;
}

.job--detail-card-review-area .job--detail-card-rating span {
    color: #714F36;
    font-size: 16px;
    font-weight: 600;
}

.job--detail-card-review-area .job--detail-card-review-count {
    color: #714F36;
    font-size: 16px;
    font-weight: 500;
}

.job--detail-card-review-area .job--detail-card-review-count span {
    font-size: 12px;
}

.job--detail-card-location-area {
    margin-top: 20px;
    display: flex;
    gap: 35px;
    align-items: center;
    transition: ease-in-out 0.8s;
}

.job--detail-card-location-area .job--detail-card-experience i {
    color: #714F36;
    font-size: 15px;
    margin-right: 8px;
    vertical-align: middle;
}

.job--detail-card-location-area .job--detail-card-experience span {
    color: #714F36;
    font-size: 12px;
    font-weight: 500;
}

.job--detail-card-img-area {
    position: relative;
    border-radius: 8px;
    background-color: #FFF;
    width: 120px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: -2px 2px 15px #31313114;
    transition: ease-in-out 0.8s !important;
}

.job--detail-card:hover .job--detail-card-img-area {
    box-shadow: -2px 2px 15px #3131312e;
}

.job--detail-card-img-area .job--detail-card-img {
    width: 100px;
    height: 55px;
    object-fit: contain;
}

.job--detail-card-desc-area {
    margin-top: 13px;
    max-height: 110px;
    overflow-y: scroll;
    padding-right: 10px;
}

.job--detail-card-desc-area::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    border-radius: 10px !important;
}

.job--detail-card-desc-area::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: none;
    background-color: #fbdc7f;
}

.job--detail-card-desc-area::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 10px !important;
    background-color: transparent;
}

.job--detail-card-desc-area .job--detail-card-desc {
    color: #714F36;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.job--detail-card-bottom-area {
    margin-top: 25px;
    /* margin-bottom: 8px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 25px;
}

.job--detail-card-know-more-btn-area {
    display: flex;
}

.job--detail-card-tags-area {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.job--detail-card-tags-area .job--detail-card-tag {
    color: #313131;
    font-size: 10px;
    font-weight: 400;
    text-transform: capitalize;
}

.job--detail-card-tags-area .job--detail-card-tag::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 4px;
    height: 4px;
    background-color: #714F36;
    border-radius: 50%;
    flex-shrink: 0;
}

.job--detail-card-know-more-btn-area .job--detail-card-know-more-btn {
    border-radius: 5px;
    background-color: #FFF;
    border: 2px solid #FFF;
    color: #714F36;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding: 12px 18px;
    white-space: nowrap;
    transition: ease-in-out 0.8s;
}

.job--detail-card-know-more-btn:hover {
    background-color: #714F36;
    color: #FFF !important;
}

.tal--pro-card-ability-number-left.job {
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 10px;
    flex-direction: column;
    gap: 10px;
    margin-top: 0;
}

.tal--pro-card-percentage.custom-font-size {
    font-size: 20px;
}

.cli-tal-pro-search-filter-expand-area.job {
    padding-bottom: 40px;
}

.job-post-form-badge.job {
    background-color: #F9C833 !important;
    color: #714F36 !important;
    font-weight: 500;
    border-color: #F9C833;
}

.job-post-form-badge.job::after {
    color: #714F36 !important;
}

.job-post-form-badge.job:hover {
    background-color: #fcd45d !important;
    border-color: #fcd45d !important;
}

.search-result-data.job:hover {
    background-color: #F9C833 !important;
    color: #714F36 !important;
}

.custom-padding-area {
    padding-left: 15px !important;
    padding-right: 5px !important;
}
.cursor-pointer {
    cursor: pointer !important;
}