@media screen and (min-width: 992px) and (max-width: 1367px) {
    .testimonial--section {
        margin-top: 130px;
    }

    .testimonial--arrow-area.testi--arrow-area {
        width: 125px;
        height: 125px;
    }

    .testimonial--card-lg.testi--card-lg {
        border-radius: 48px 48px 60px 48px;
    }

    .testimonial--profile-img.testi--img {
        width: 125px;
        height: 125px;
    }

    .testimonial--card-sm.testi--card-sm {
        width: 100%;
    }

    .testimonial--content-area.testi--content-area {
        width: 85%;
    }
}

@media (max-width:991.5px) {
    .testimonial--card-lg.testi--card-lg {
        height: auto;
    }

    .testimonial--card-sm.testi--card-sm {
        height: 300px;
        overflow: hidden;
    }

    .testimonial--content-area.testi--content-area {
        padding-right: 10px;
    }

    .testimonial--container {
        padding-top: 0;
    }

    .testimonial--content-area.testi--content-area {
        max-height: fit-content;
        padding-right: 0;
    }
}



@media (max-width:500px) {
    .testimonial--section {
        margin-top: 100px;
    }

    .testimonial--content-area.testi--content-area {
        margin-top: 25px;
        width: 100%;
    }

    .testimonial--arrow-area.testi--arrow-area {
        width: 80px;
        height: 80px;
        outline-width: 8px !important;
    }

    .testimonial--card-lg.testi--card-lg {
        padding: 25px;
    }

    .testimonial--row {
        margin-bottom: 60px;
    }
    .testimonial--row.custom {
        margin-bottom: 40px;
      }
}