.event--detail-content-section {
    overflow: hidden;

}

.event--detail-img-area {
    overflow: hidden;
    width: 100%;
    height: 640px;
    border-radius: 31px;
    transition: ease-in-out 0.8s;
    position: relative;
}

.event--detail-img-area .event--detail-img {
    width: 100%;
    height: 645px;
    object-fit: cover;
    object-position: center;
    transition: ease-in-out 1.5s !important;
}

.event--detail-img-area:hover .event--detail-img {
    transform: scale(1.08);
}

.event--detail-lable-area {
    margin: 50px 0 60px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.event--detail-lable-area .event--detail-lable {
    border-radius: 5px;
    background-color: #F9C833;
    color: #714F36;
    font-size: 24px;
    font-weight: 500;
    padding: 11px 60px;
    text-decoration: none;
    transition: ease-in-out 0.8s;
}

.event--detail-lable-area .event--detail-lable:hover {
    background-color: #714F36;
    color: #F9C833;
}

.event--detail-top-area {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.event--detail-title-area .event--detail-title {
    color: #714F36;
    font-size: 48px;
    font-weight: 500;
}

.event--detail-sub-cont-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.event--detail-location-area i {
    font-size: 24px;
    vertical-align: baseline;
    margin-right: 9px;
    color: #F9C833;
}

.event--detail-sub-cont {
    color: #714F36;
    font-size: 20px;
    font-weight: 500;
}

.event--detail-date {
    color: #714F36;
    font-size: 24px;
    font-weight: 500;
}

.event--detail-desc-area {
    margin-top: 50px;
}

.event--detail-desc-area .event--detail-desc {
    color: #714F36;
    font-size: 20px;
    font-weight: 400;
    line-height: 182%;
}
.event--detail-btn-area{
    margin-top: 60px;
}
.event--detail-title-area{
    width: 60%;
}