.dash-job-det-section {
    padding-top: 30px;
}

.dash-job-det-head {
    font-size: 23px;
    font-weight: 500;
    color: #714F36;
    text-align: center;
    text-transform: capitalize;
}

.dash-job-det-card-area {
    padding-top: 40px;
}

.dash-job-det-card {
    position: relative;
    border-radius: 12px;
    background-color: #F9C833;
    padding: 25px;
}

.dash-job-det-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dash-job-det-card-role {
    color: #714F36;
    font-size: 18px;
    font-weight: 700;
}

.dash-job-det-card-com-area {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.dash-job-det-card-com {
    font-size: 16px;
    color: #714F36;
    font-weight: 400;
}

.dash-job-det-card-det-area {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.dash-job-det-card-det i {
    color: #714F36;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 6px;
}

.dash-job-det-card-det span {
    color: #714F36;
    font-size: 12px;
    font-weight: 400;
}

.dash-job-det-card-img-area {
    position: relative;
    border-radius: 8px;
    background-color: #FFF;
    width: 110px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
}

.dash-job-det-card-img-area .dash-job-det-card-img {
    width: 100%;
    object-fit: cover;
}


.dash-job-det-card-body {
    padding-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 100px;
}

.dash-job-det-card-tags-area {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.dash-job-det-card-tag {
    font-size: 12px;
    color: #714F36;
    font-weight: 400;
}

.dash-job-det-card-more-job-btn {
    color: #714F36 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    text-decoration: underline;
    white-space: nowrap;
}

.dash-job-det-card-footer {
    margin-top: 35px;
    border-top: #714F36 1px solid;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dash-job-det-card-status-area {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.dash-job-det-card-status {
    color: #714F36;
    font-size: 14px;
    font-weight: 400;
}

.dash-job-det-card-status span {
    font-weight: 600;
}

.dash-job-det-card-status.with-border-padding {
    border-right: 1px solid #714F36;
    padding-right: 30px;
}

.dash-job-det-card-btn-area {
    display: flex;
    align-items: center;
    gap: 18px;
}

.dash-job-det-card-apply-btn {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #FFF;
    padding: 10px 30px;
    transition: ease-in-out 0.5s;
    color: #714F36;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none !important;
}

.dash-job-det-card-apply-btn:hover {
    background-color: #714F36;
    color: #FFF;
}

.dash-job-det-card-apply-btn:focus,
.dash-job-det-card-apply-btn:active {
    border: none;
    outline: none;
}

.dash-job-det-favourite input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.dash-job-det-favourite {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0;
}

.dash-job-det-favourite svg {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    fill: none;
    stroke: #714F36;
    stroke-width: 1.5px;
}

.dash-job-det-favourite svg:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.dash-job-det-favourite input:checked~svg {
    fill: #e8000c;
    stroke: #e8000c;
}

.dash-job-det-content-area {
    margin-top: 30px;
    border-radius: 16px;
    background-color: #ededed;
    padding: 20px 25px 40px 25px;
}

.job-match-score-area {
    border-radius: 16px;
    background-color: #FFF1C8;
    padding: 20px;
    border: 1px solid #FFF;
    box-shadow: 0px 2px 15px #00000028;
}

.job-match-score-head {
    font-size: 18px;
    font-weight: 600;
    color: #714F36;
}

.job-match-score-selection-area {
    margin-top: 30px;
    padding-bottom: 10px;
}

.job-match-score-radio-select-area {
    display: flex;
    align-items: center;
    gap: 100px;
}

.job-match-score-radio-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #714F36 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    cursor: pointer;
}

.job-match-score-radio-button input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.job-match-score-radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #714F36;
    -webkit-transform: translateZ(-25px);
    transform: translateZ(-25px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.job-match-score-radio::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    top: 2.5px;
    left: 2.5px;
    border-radius: 50%;
    background-color: #714F36;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.job-match-score-radio-button input[type="radio"]:checked+.job-match-score-radio {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    background-color: #fff;
}

.job-match-score-radio-button input[type="radio"]:checked+.job-match-score-radio::before {
    opacity: 1;
}

.dash-job-desc-section {
    /* margin-top: 40px; */
    padding: 10px;
}

.dash-job-desc-area {
    /* margin-top: 35px; */
    display: flex;
    align-items: center;
}

.dash-job-desc-head {
    color: #714F36;
    font-size: 18px;
    font-weight: 600;
}

.dash-job-desc {
    padding-top: 15px;
    font-size: 15px;
    color: #714F36;
    font-weight: 400;
    margin-bottom: 0;
}

.dash-job-desc2 {
    font-size: 16px;
    color: #714F36;
    font-weight: 400;
    text-transform: capitalize;
}

.dash-job-desc-list-item {
    color: #714F36 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    padding-top: 10px;
    list-style: none;
}

.dash-job-desc-list-item::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    flex-shrink: 0;
    vertical-align: middle;
    margin-right: 15px;
    background-color: #714F36;
}

.dash-job-desc-area ul {
    padding-left: 15px !important;
}

/* .dash-job-det-info-section {
    margin-top: 10px;
} */

.dash-job-det-info-area {
    margin-top: 30px;
}

.dash-job-det-info {
    font-size: 16px;
    font-weight: 600;
    color: #714F36;
}

.dash-job-det-info span,
.dash-job-det-info div {
    font-weight: 400;
    text-transform: capitalize;
}

.job--apply-area {
    margin-top: 40px;
    border-top: #714F36 1px solid;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button {
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
}

.company--detail-card-apply-btn-sub.apply {
    padding: 15px 60px;
    font-size: 18px;
}

.qulification-area {
    /* margin-top: 25px; */
    /* border-radius: 16px;
    background-color: #FFF;
    padding: 25px 10px;
    box-shadow: 0px 2px 15px #00000020; */
}

.dash-job-desc-head.qualification {
    /* background-color: #ededed;
    border-radius: 8px;
    padding: 5px 15px; */
}

.dash-job-desc-container {
    margin-top: 35px;
    border-top: 1px #714F36 solid;
    padding-top: 30px;
}
.hr-line{
    border-bottom: #714F36 1px solid;
}


/* for job detail modal */
.comp-det-modal {
    border-radius: 16px;
    background-color: #e4e4e4;
    border-bottom: 3px solid #714F36;
}

.comp-det-modal-header {
    background-color: #FFF;
    border-radius: 16px 16px 0 0;
    padding: 20px 20px;
    box-shadow: 0px 5px 10px #00000012;

}

.comp-det-modal-head {
    font-size: 16px;
    color: #714F36;
    font-weight: 600;
    background-color: #F9C833;
    border-radius: 6px;
    padding: 5px 10px;
    position: relative;
}

.comp-det-modal-head::before {
    content: "";
    display: inline-block;
    background-color: #714F36;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 2px;
    border: 2px solid #ffffff;
}

.comp-det-modal-header .btn-close {
    font-size: 13px !important;
    transition: ease-in-out 0.5s;
}

.comp-det-modal-header .btn-close:hover {
    color: red !important;
    transform: rotate(90deg);
}

.comp-det-modal-footer {
    background-color: #FFF;
    border-radius: 0 0 16px 16px;
    padding: 15px 20px;
    box-shadow: 0px -5px 10px #00000012;
}

.comp-det-modal-footer .btn-close-btn {
    font-size: 15px !important;
    font-weight: 600;
}

.comp-det-card {
    border-radius: 16px;
    background-color: #FFF;
    padding: 20px;
    border: none;
    box-shadow: 0px 5px 10px #00000012;
}

.comp-det-modal-body {
    padding: 10px 5px;
}

.comp-det-card.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.com-det-logo-area {
    border-radius: 16px;
    width: 200px;
    height: 130px;
    border: #FFF 4px solid;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDD;
    position: relative;
    box-shadow: 0px 0px 10px #0000001d;
    padding: 10px;
}

.com-det-logo-area .com-det-logo {
    width: 100%;
    height: 110px;
    object-fit: contain;
    object-position: center;
}

.com-det-name {
    font-size: 17px;
    font-weight: 700;
    color: #714F36;
}

.com-det-title {
    font-size: 15px;
    font-weight: 600;
    color: #714F36;
}

.com-det-title::before {
    content: "";
    display: inline-block;
    background-color: #F9C833;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 1px;
    border: 2px solid #714F36;
}

.com-det-content {
    color: #714F36;
    font-size: 15px;
    font-weight: 400;
}
.m-t-40{
    margin-top: 40px;
}