@media screen and (min-width: 992px) and (max-width: 1399px) {
    .job-search-content-lg p {
        font-size: 25px;
    }
    
}

@media (max-width:991.5px) {
    .job--detail-card-top-area.job {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .job--detail-card-img-area.job {
        width: 100%;
        height: 100px;
    }

    .job--detail-card-img-area.job .job--detail-card-img {
        width: 100%;
        height: 80px;
    }
    .flex-reverse-md{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .tal--pro-card-ability-number-left.mobile-flex{
        flex-direction: row;
        align-items: baseline;
        gap: 20px;
    }

    .job-search-head{
        font-size: 45px !important;
    }
}

@media (max-width:500px) {
    .job-search-content-lg p {
        font-size: 20px;
    }

    .job-search-content-md p {
        font-size: 16px;
    }

    .job-search-content-lg {
        padding-top: 30px;
    }

    .job-search-head{
        font-size: 30px !important;
    }

    .pl--package-btn.job {
        font-size: 18px;
        padding: 12px 30px;
    }
    .job--detail-card-bottom-area{
        gap: 15px;
        align-items: flex-end;
    }
    .job--detail-card-location-area .job--detail-card-experience i{
        font-size: 20px !important;
    }
}