@media screen and (min-width: 992px) and (max-width: 1399px) {
    .client-transfer-area-sub .card-change-status-input-area {
        width: 100% !important;
    }
}

@media (max-width:991.5px) {
    .client-transfer-area-sub .card-change-status-input-area {
        width: 100% !important;
    }

    .client-transfer-area-sub {
        gap: 20px;
    }
}

@media (max-width:500px) {
    .client-transfer-area-sub {
        flex-direction: column;
        gap: 20px;
    }

    .transfer__icon-area {
        display: none;
    }
}