.application-btn.with-modal span {
    color: #0F75C5;
    text-decoration: underline;
}

.man-job-status-btn {
    border: none;
    outline: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    transition: ease-in-out 0.5s;
}

.man-job-status-btn:focus,
.man-job-status-btn:active {
    border: none;
    outline: none;
}

.man-job-status-btn.theme-info {
    color: #0F75C5 !important;
    background-color: #EAFCFF !important;
}

.man-job-status-btn.theme-info:hover {
    color: #EAFCFF !important;
    background-color: #0F75C5 !important;
}

.man-job-status-btn.theme-warning {
    color: #714F36 !important;
    background-color: #FFF1C8 !important;
}

.man-job-status-btn.theme-warning:hover {
    color: #FFF1C8 !important;
    background-color: #714F36 !important;
}

.man-job-status-btn.theme-success {
    color: #00994d !important;
    background-color: #e1ffeb !important;
}

.man-job-status-btn.theme-success:hover {
    color: #e1ffeb !important;
    background-color: #00994d !important;
}

.delete-btn {
    border: none;
    outline: none;
    background-color: transparent;
}

.delete-btn i {
    color: #D40303;
    font-size: 21px;
}

.delete-btn:focus,
.delete-btn:active {
    border: none;
    outline: none;
}

.edit-btn {
    border: none;
    outline: none;
    background-color: transparent;
}

.edit-btn i {
    color: #0F75C5;
    font-size: 18px;
}

.edit-btn:focus,
.edit-btn:active {
    border: none;
    outline: none;
}

.dash-table-row.client td {
    padding: 15px 15px !important;
}

.dash-table-row.man-job th {
    font-weight: 600 !important;
    padding: 20px 15px !important;
}

.dash-table-row.man-job {
    border-bottom: none !important;
}
.text-approval{
    color: #cbcbcb;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}