.contact--section {
    margin-top: 27px;
    overflow: hidden !important;
}

.con--where-section {
    padding-top: 80px;
}

.con--where-container {
    padding: 0 36px;
}

.con--where-heading-area .con--where-heading {
    color: #714F36;
    font-size: 48px;
    font-weight: 450;
    line-height: 100%;
    text-transform: uppercase;
}

.con--where-desc-area {
    padding-top: 52px;
    /* width: 60%; */
}

.con--where-desc-area .con--where-desc {
    color: #5C3B2E;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    /* text-transform: capitalize; */
    margin-bottom: 0;
}

.con--where-desc-area .con--where-desc::first-letter {
    text-transform: uppercase !important;
}

.con-where-content-area {
    padding: 63px 20px;
}

.custom-border-top {
    border-top: 1px solid #714F36;
}

.custom-border-right {
    border-right: 1px solid #714F36;
}

.custom-border-bottom {
    border-bottom: 1px solid #714F36;
}

.con--map-container {
    padding: 40px 50px;
}

.con--map-container .con--location-heading {
    color: #714F36;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.con--map-area {
    /* overflow: hidden; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.con--map-area .con--map-img {
    width: 85%;
    object-fit: contain;
}

.con--map-pointer {
    border-radius: 50%;
    width: 10px;
    bottom: 29%;
    left: 35.5%;
    height: 10px;
    flex-shrink: 0;
    position: absolute;
    background-color: #fff;
    -webkit-animation: pulse502 2s infinite;
    animation: pulse502 1.5s infinite;

}

@keyframes pulse502 {
    0% {
        box-shadow: 0 0 0 0 #ffffff57;
    }

    70% {
        box-shadow: 0 0 0 12px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

.con--map-link-img-area {
    background: #FFF;
    box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.10);
    width: 50%;
    height: 23%;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: -20px;
}

.con--map-link-img-area .con--map-link-img-sub {
    display: flex;
    align-items: center;
    justify-content: center;
}

.con--map-link-img-area .con--map-link-img {
    width: 95%;
    height: 90%;
    flex-shrink: 0;
    object-fit: contain;
}

.con--content-area {
    padding: 47px 35px;
}

.con--content {
    margin-bottom: 60px;
}

.con--icon-area {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #F9C833;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.con--icon-area .con--icon {
    width: 35px;
}

.con--content .con--loaction,
.con--content .con--phone-no,
.con--content .con--mail {
    margin-top: 45px;
}

.con--content .con--loaction a {
    color: #5C3B2E !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: normal !important;
    text-transform: capitalize;
    text-decoration: none;
}

.con--content .con--phone-no a {
    color: #5C3B2E !important;
    font-size: 40px !important;
    font-weight: 400 !important;
    line-height: normal !important;
    text-transform: capitalize;
    text-decoration: none;
}

.con--content .con--mail a {
    color: #5C3B2E !important;
    font-size: 45px !important;
    font-weight: 400 !important;
    line-height: normal !important;
    text-transform: capitalize;
    text-decoration: none;
}

.con--note-section {
    padding-top: 60px;
    padding-bottom: 110px;
}

.con--note-form-area {
    margin-top: 60px;
    position: relative;
}

.con--form-group {
    position: relative;
    margin-bottom: 80px;
}

.con--note-form-area .con--form-input {
    outline: none;
    width: 100%;
    padding: 13px 0;
    border: none;
    border-bottom: 1px solid #714F36;
    color: #5C3B2E;
    font-size: 18px !important;
    font-weight: 400;
    line-height: normal;
    transition: border-color 0.5s, box-shadow 0.5s;
}

.con--note-form-area .con--form-label {
    color: #5C3B2E;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    transition: ease-in-out 0.8s;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
    transition: top 0.5s, font-size 0.5s, color 0.5s;
}

.con--note-form-area .con--form-label span {
    color: red;
}

/* .con--form-input:focus+.con--form-label {
    top: -1px;
} */
.con--form-input:not(:placeholder-shown)+.con--form-label,
.con--form-input:focus+.con--form-label {
    top: -1px;
}

.con--note-form-area .con--form-input::placeholder {
    opacity: 0;
    font-size: 16px;
    color: #a99790;
    transition: opacity 0.5s;
}

.con--note-form-area .con--form-input:focus::placeholder {
    opacity: 1;
}

.custom-padding-right {
    padding-right: 40px;
}

.custom-padding-left {
    padding-left: 40px;
}

.con--form-btn-area {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.con--form-btn-sub {
    overflow: hidden;
    z-index: 1;
    display: flex;
    transition: ease-in-out 0.5s;
    outline: none;
    border: none;
    background-color: transparent;
}

.con--form-btn {
    font-size: 20px;
    font-weight: 500;
    border-radius: 48px;
    background-color: #714F36;
    padding: 18px 100px;
    color: #FFF;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    overflow: hidden !important;
    transition: ease-in-out 0.5s;
}

.con--form-btn::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.8s ease-in-out;
    background-color: #F9C833;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
}

.con--form-btn:hover::after {
    visibility: visible;
    transform: scale(150) translateX(2px);
}

.con--form-btn:hover {
    color: #714F36 !important;
}

.con--form-btn-sub:hover svg {
    transform: rotate(45deg);
}

.con--form-btn-sub:hover svg path {
    stroke: #F9C833;
}

.con--form-arrow-area {
    border-radius: 50%;
    background-color: #714F36;
    padding: 22px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.8s;
}

.con--form-arrow-area svg,
.con--form-arrow-area svg path {
    transition: ease-in-out 0.8s;
}

/* Hide the default number input spinner */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: none;
    appearance: none;
}

/* ///////////////////// */
.container-input-area {
    position: relative;
    /* border-radius: 6px; */
    /* border: #714F36 2px solid; */
    border-bottom: #714F36 2px solid;
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    row-gap: 8px;
    flex-wrap: wrap;
    overflow-x: clip;
}

.container-input-area2 {
    display: flex;
    align-items: center;
    gap: 8px;
    row-gap: 8px;
    flex-wrap: wrap;
    overflow-x: clip;
    border: 1px solid #714F36 !important;
    padding: 8px 13px !important;
    width: 100%;
    position: relative;
    transition: ease-in-out 0.5s;
    border-radius: 6px;
    background-color: #FFF;
}

.container-input-area3 {
    display: flex;
    align-items: center;
    gap: 8px;
    row-gap: 8px;
    flex-wrap: wrap;
    overflow-x: clip;
    border: none;
    padding: 8px 12px 8px 0 !important;
    width: 100%;
    position: relative;
    transition: ease-in-out 0.5s;
}

.container-input-area3.no-icon{
    padding: 8px 12px 8px 12px !important;
}

.container_input_section {
    position: relative;
    display: flex;
    gap: 0;
    align-items: center;
    border-radius: 4px;
    color: #714F36;
    border: 1px solid #714F36 !important;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(150, 150, 150, 0.25);
    padding: 0;
    transition: ease-in-out 0.5s;
}

/* .container_input_section:focus-within {
    box-shadow: 0px 0px 0px 4px #f9c73338 !important;
} */

.container_search_icon_area {
    display: flex;
    justify-content: center;
    justify-content: center;
    padding: 10px 12px;
    height: 100%;
}

.container_search_icon_area i {
    font-size: 17px;
    color: #8f8f8f;
}

.form__badge {
    background-color: #714F36;
    border-radius: 20px;
    /* flex-shrink: 0; */
    white-space: nowrap;
    border: none;
    color: #FFF;
    transition: ease 0.5s;
    padding: 3px 12px;
    font-size: 14px;
    /* display: none; */
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    position: relative;
}

.form__badge.small-text {
    font-size: 13px;
    padding: 2px 12px;
    gap: 7px;
}

.form__badge:hover {
    background-color: #5C3B2E;
}

.form__badge i {
    color: #FFF !important;
    cursor: pointer;
    vertical-align: middle;
    font-size: 16px;
    position: unset !important;
    right: unset !important;
    top: unset !important;
    z-index: auto;
    font-weight: 800;
    pointer-events: unset !important;
}

.form__badge span::first-letter {
    text-transform: uppercase !important;
}

.form__badge2 {
    color: #714F36;
    background-color: #f6ece6;
    border: 1.6px solid #714F36;
    font-size: 12px;
    border-radius: 50px;
    font-weight: 500;
    padding: 4px 6px 4px 10px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.form__badge2.candidate {
    background-color: #fff0c5 !important;
    border-color: #F9C833 !important;
}

.form__badge2.candidate:hover {
    color: #714F36 !important;
    background-color: #F9C833 !important;
}

.form__badge2.candidate:hover i {
    color: #714F36 !important;
    border-color: #714F36 !important;
}

.form__badge2 span::first-letter {
    text-transform: uppercase !important;
}

.form__badge2:hover {
    background-color: #714F36 !important;
    color: #FFF;
}

.form__badge2 i {
    vertical-align: middle;
    color: #714F36;
    font-size: 14px;
    transition: ease-in-out 0.5s;
    padding: 0;
    border: 1px solid #714F36;
    flex-shrink: 0;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.form__badge2:hover i {
    color: #FFF !important;
    border-color: #FFF !important;
}


.container__input_section {
    overflow-y: visible;
    flex: 1;
    width: 100%;
}

.container__input {
    border: none;
    /* border-bottom: 2px solid #714F36; */
    outline: none;
    color: #714F36;
    padding-bottom: 5px;
    font-size: 18PX;
    position: relative;
    min-width: 280px;
    background-color: transparent;
    width: 100% !important;
    /* flex: 1; */
}

.container__input2 {
    /* border-bottom: 2px solid #714F36; */
    border: none;
    outline: none;
    color: #714F36;
    padding-bottom: 5px;
    font-size: 14PX;
    position: relative;
    min-width: 280px;
    background-color: transparent;
    width: 100% !important;
}

.container__input::placeholder {
    color: #714F36;
    font-weight: 500;

}

.container__input_with_label {
    position: relative;
    width: 100%;
    flex: 1;
}

.container__input_with_label>.container__input:focus~.container__input_label {
    opacity: 0;
}

.container__input_with_label>.container__input2:focus~.container__input_label2 {
    opacity: 0;
}

.container__input_label {
    color: #714F36;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    transition: opacity ease 0.3s;
    position: absolute;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    top: 50%;
    left: 0;
    opacity: 1;
    transform: translateY(-50%);
    pointer-events: none;
}

.container-input-area2:focus-within {
    box-shadow: 0px 0px 0px 4px #f9c73338 !important;
}


.container__input_label2 {
    color: #8f8f8f;
    font-size: 14px;
    line-height: normal;
    text-transform: capitalize;
    transition: opacity ease 0.3s;
    position: absolute;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    top: 50%;
    left: 0;
    opacity: 1;
    transform: translateY(-50%);
    pointer-events: none;
}

.container__input_label2.small-text {
    font-size: 12px;
}

.search-result__area {
    display: none;
    position: absolute;
    /* top: 0  ; */
    max-height: 500px;
    overflow-y: auto;
    background-color: #FFF;
    /* border-radius: 4px; */
    box-shadow: 0px 2px 10px #0000001a;
    width: auto;
    margin-top: 2px;
    width: 100%;
    z-index: 2;
}

.search__result {
    padding: 10px 12px;
    background-color: #FFF;
    transition: ease 0.5s;
    color: #714F36;
    font-size: 14px;
}

.search__result:hover {
    background-color: #714F36;
    color: #FFF;
}

.text-gray {
    color: rgba(101, 101, 101, 0.65);
}

.error-msg {
    font-size: .875em !important;
}