@media (max-width:573px) {
    .rec-work-mode-area {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .recruite-form-check-input {
        width: 100%;
    }
}