.company-info-container{
    padding-top: 30px;
}
.comp-det-card {
    margin-bottom: 30px;
    background-color: #f4f4f4 !important;
    box-shadow: none !important;
    border: #714F36 1px solid !important;
    border-bottom-width: 3px !important;
}

.com-main-detail-area {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    padding: 10px 20px;
    background-color: #FFF;
    box-shadow: 0px 2px 10px #00000017;
}

.com-main-detail-area i {
    color: #714F36;
    font-size: 20px;
}

.com-det-main-content {
    transition: ease-in-out 0.5s;
    color: #714F36 !important;
    font-size: 15px;
    font-weight: 500;
}

.com-det-main-content:hover {
    color: #000 !important;
}

.com-type {
    font-size: 13px;
    font-weight: 400;
    color: #714F36;
}

.com-det-content ul li {
    list-style: disc;
    color: #714F36;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
}
.com-det-content ul{
    padding-left: 20px;
}