@media screen and (min-width: 992px) and (max-width: 1399px) {}

@media (max-width:991.5px) {

    /* .white-space-nowrap{
        white-space: wrap;
    } */
    .custom--select-area .custom--select-label {
        white-space: inherit;
    }
    .cand--reg-form-group.enquiry{
        flex-wrap: nowrap !important;
        gap: 50px !important;
        align-items: center !important;
    }
}

@media (max-width:500px) {}