@media screen and (min-width: 992px) and (max-width: 1399px) {
    .client-register-section {
        margin-top: 130px;
    }

    .cli--reg-heading-area .cli--reg-heading,
    .cli--reg-heading-area .cli--reg-sub-heading {
        font-size: 30px;
    }

    .cli--reg-heading span {
        font-size: 60px;
    }

    .cli--reg-heading-area .cli--reg-sub-heading {
        margin-top: 30px;
    }

    .cli--reg-grab-area {
        margin-top: 50px !important;
    }

    .cli--reg-grab {
        font-size: 30px;
    }

    .cli--reg-form-area .reg--form-label,
    .custom--select-area .custom--select-label,
    .sel,
    .sel__placeholder {
        font-size: 20px;
    }

    .reg--form-group {
        position: relative;
        margin-bottom: 70px;
    }

    .reg--form-btn {
        padding: 15px 90px;
        font-size: 20px;
    }

    .reg--form-arrow-area {
        padding: 17px;
    }

    .cli--reg-form-area {
        margin-bottom: 100px;
    }

    .cli--reg-form-area .reg--form-input {
        padding: 10px 0;
    }
}

@media (max-width:991.5px) {
    .cli--reg-heading-area .cli--reg-heading {
        line-height: 2em;
    }

    .cli--reg-heading-area {
        margin-top: -40px;
    }

    .cli--reg-heading-area .cli--reg-sub-heading {
        margin-top: 20px;
    }

    .cli--reg-grab {
        font-size: 25px;
        padding: 25px;
    }

    .cli--reg-heading-area .cli--reg-heading,
    .cli--reg-heading-area .cli--reg-sub-heading {
        font-size: 30px;
    }

    .cli--reg-heading span {
        font-size: 60px;
    }

    .cli--reg-form-area .reg--form-input {
        padding: 10px 0;
    }

    .cli--reg-form-area .reg--form-label,
    .custom--select-area .custom--select-label,
    .sel__placeholder,
    .sel .select--toggle {
        font-size: 20px;
    }

    .reg--form-group {
        margin-bottom: 70px;
    }

    .custom--select-area {
        gap: 50px;
    }
}

@media (max-width:500px) {
    .client-register-section {
        margin-top: 100px;
    }

    .cli--reg-heading-area .cli--reg-heading {
        font-size: 25px;
    }

    .cli--reg-heading span {
        font-size: 60px;
        line-height: 2rem;
    }

    .cli--reg-heading-area {
        margin-top: -10px;
    }

    .cli--reg-heading-area .cli--reg-sub-heading {
        font-size: 20px;
        margin-top: 20px;
    }

    .cli--reg-grab-area {
        margin-top: 20px !important;
    }

    .cli--reg-grab {
        font-size: 18px;
    }

    .cli--reg-form-area .reg--form-input,
    .cli--reg-form-area .reg--form-label {
        font-size: 16px !important;
    }


    .reg--form-group {
        margin-bottom: 40px;
    }

    .reg--form-btn {
        padding: 12px 49px !important;
        font-size: 20px;
    }

    .reg--form-arrow-area {
        padding: 15px;
    }

    .reg--form-arrow-area svg {
        width: 23px;
        height: 23px;
    }

    .cli--reg-form-area {
        margin-bottom: 60px;
    }

    .reg--form-btn-area {
        padding: 20px 10px 0 10px;
    }

    .custom--select-area {
        margin-top: 0;
        margin-bottom: 40px;
        gap: 20px;
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .sel {
        width: 100%;
    }

    .custom--select-area .custom--select-label,
    .sel__placeholder,
    .sel__box__options,
    .sel .select--toggle {
        font-size: 18px !important;
    }

    .sel__placeholder {
        text-align: left;
    }
}