@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* .manually-add-btn.with-mb {
        margin-bottom: 35px !important;
    } */
}

@media (max-width:991.5px) {
    /* .manually-add-btn.with-mb {
        margin-bottom: 35px !important;
    } */
}

@media (max-width:573px) {
    .post-job-btn-area{
        flex-direction: column;
        margin: 40px 0 20px 0;
    }

    .post-job-btn-area .post-job-btn{
        width: 100%;
        text-align: center;
    }
    .post-job-title {
        font-size: 20px;
    }
    .post-job-card{
        padding: 20px !important;
    }
}

@media (max-width:407.5px) {
    .job-post-form-group.with-sub-label i {
        top: 93px;
    }
}