.cand--ab-para-section2 {
    margin-top: 50px;
    overflow: hidden;
}

.cand--ab-para {
    color: #5C3B2E;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    /* text-transform: capitalize; */
}

.cand--ab-para::first-letter{
    text-transform: uppercase !important;
}

.cand--ab-vis-mis-section {
    margin: 80px 0 100px 0;
}

.custom-align-center {
    display: flex;
    align-items: center;
}

.cand--ab-vis-mis-para {
    color: #714F36;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 100%;
}

.cand--ab-vis-mis-card {
    border-radius: 41px;
    border: 2px solid #714F36;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
}

.cand--ab-vis-mis-card .cand--ab-vis-mis-head {
    color: #714F36;
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
}

.cand--ab-vis-mis-card .cand--ab-vis-mis-desc {
    /* margin-top: 50px; */
    color: #5C3B2E;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 0;
}
.about--card.candidate:hover .about--sub-des.candidate p{
    color: #FFF !important;
}