.plans--section {
    padding-top: 40px;
    overflow: hidden !important;
}

.plans--container {
    border-radius: 16px;
    background-color: #FFF;
    padding: 40px 25px;
}

.plans--head-area {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.plans--head-area .plans--heading {
    color: #714F36;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.plans--head-area .plans--sub-head {
    color: #5C3B2E;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    width: 87%;
}

.plan--purchase-track-area {
    margin-top: 60px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.plan--purchase-track-area .pl--track-circle {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    flex-shrink: 0;
    border: 2px solid #714F36;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pl--track-circle span {
    color: #714F36;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0;
    z-index: 1;
}

.pl--track-circle-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    position: relative;
    overflow: visible;
}

.pl--track-circle-area .pl--track-status {
    /* margin-top: 25px; */
    text-align: center;
    color: #5C3B2E;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 80px;
    z-index: 3;
    white-space: nowrap;

}

.plan--purchase-track-area .pl--track-line {
    height: 2px;
    background-color: #714F36;
}

@media (max-width: 768px) {
    .pl--track-line {
        width: 200px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .pl--track-line {
        width: 200px;
    }
}

@media (min-width: 993px) {
    .pl--track-line {
        width: 333px;
    }
}

.pl--track-line.active {
    background-color: #F9C833;
}

.pl--track-circle.active::after {
    font-family: 'bootstrap-icons' !important;
    content: "\f272";
    font-size: 28px;
    font-weight: 400;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    position: absolute;
    background-color: #F9C833;
    border-radius: 50%;
    flex-shrink: 0;
    z-index: 2;
}

.packages--area {
    margin-top: 100px;
    /* margin-bottom: 120px; */
}

.pl--package-title-area {
    text-align: left;
    position: relative;
}

.pl--package-title-area .pl--package-img-hidden {
    width: 80px;
    height: 80px;
    object-fit: contain;
    visibility: hidden;
}

.pl--package-title-area .pl--package-name-hidden {
    margin-top: 12px;
    padding-bottom: 30px;
    margin-bottom: 0;
    color: #714F36;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}

.pl--package-title-area .pl--package-title {
    color: #714F36;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    padding-bottom: 25px;
    margin-bottom: 0;
}

.pl--package-title .with-bg {
    background-color: #714F36;
    border-radius: 4px;
    padding: 5px 20px;
    color: #FFF !important;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -10px;
}

.pl--package-detail-area {
    position: relative;
    text-align: center;
}

.pl--package-detail-area .pl--package-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    text-align: center;
    transition: ease-in-out 0.5s;
}

.pl--package-detail-area .pl--package-name {
    margin-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0;
    color: #714F36;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.pl--package-detail-area .pl--package-info {
    margin-top: 20px;
    padding-bottom: 25px;
    margin-bottom: 0;
    color: #714F36;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border-bottom: 1px solid #714F36;
}

.pl--package-btn-area {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pl--package-btn-sub {
    outline: none !important;
    border: none;
    background-color: transparent !important;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    transition: ease-in-out 0.5s;
    position: relative;
    white-space: nowrap;
}

.pl--package-btn.buy-now {
    border-radius: 48px !important;
    background-color: #714F36 !important;
    padding: 13px 45px !important;
    color: #FFF !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    position: relative !important;
    z-index: 1 !important;
    background-repeat: no-repeat !important;
    overflow: hidden !important;
    transition: ease-in-out 0.5s !important;
}

.pl--package-btn::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.8s ease-in-out;
    background-color: #F9C833;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
}

.pl--package-btn:hover::after {
    visibility: visible;
    transform: scale(50) translateX(2px);
}

.pl--package-btn:hover {
    color: #714F36 !important;
}

.pl--package-btn-sub:hover svg {
    transform: rotate(45deg);
}

.pl--package-btn-sub:hover .pl--package-arrow-area.prev svg {
    transform: rotate(225deg);
}

.pl--package-arrow-area.buy-now {
    border-radius: 50%;
    background-color: #714F36;
    padding: 15px;
    transition: ease-in-out 0.8s;
    position: relative;
}

.pl--package-arrow-area:hover {
    background-color: #F9C833;
}

.pl--package-arrow-area:hover svg path {
    stroke: #714F36;
}

.pl--package-arrow-area.prev svg {
    transform: rotate(270deg);
}

.pl--package-arrow-area svg,
.pl--package-arrow-area svg path,
.pl--package-arrow-area.prev svg,
.pl--package-arrow-area.prev svg path {
    transition: ease-in-out 0.8s;
}

.packages--area .pl--package-desc {
    margin-top: 90px;
    color: #5C3B2E;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.tab {
    overflow: hidden;
    transition: display 0.5s ease-in-out;
    display: none;
}

.active-tab {
    display: block !important;
}

.pl--package-mobile-flex .pl--package-mobile-title {
    display: none;
}

.pl--package-info-area {
    padding: 40px 10px;
    border-radius: 30px;
    transition: ease-in-out 0.5s;
}

.pl--package-head-area {
    padding: 40px 0;
}

.pl--package-info-area:hover {
    background-color: #F9C833;
    transform: translateY(3px);
}

.hovered {
    background-color: #F9C833 !important;
}

/* .pl--package-btn-area:hover+.pl--package-info-area {
} */


.sol-price-container {
    margin-top: 50px;
    margin-bottom: 40px;
}

.sol-price-container .sol-price-area {
    border-radius: 16px;
    background-color: #ffffff;
    padding: 40px 20px;
}

.sol-price-heading {
    color: #714F36;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.sol-price-table {
    margin-top: 30px;
}


.sol-price-table .sol-price-table-head {
    color: #714F36 !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    padding: 30px 20px !important;
    vertical-align: middle;
    white-space: nowrap;
}

.sol-price-table-data {
    color: #714F36 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    padding: 30px 20px !important;
    vertical-align: middle !important;
    transition: font-weight ease-in-out 0.5s;
    white-space: nowrap;
}

.sol-price-table-head-row {
    padding: 25px 20px !important;
}

.sol-price-table-qty-button {
    transition: ease 0.3s !important;
    border-radius: 50%;
    outline: none;
    flex-shrink: 0;
    border: none;
    font-size: 20px;
    color: #714F36;
    font-weight: 600;
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sol-price-table-qty-button:focus,
.sol-price-table-qty-button:active {
    outline: none;
}

.sol-price-table-qty-button.decrement {
    background-color: #E8E8E8 !important;
}

.sol-price-table-qty-button.increment {
    background-color: #C8C8C8 !important;
}

.sol-price-table-qty-button:active {
    transform: scale(0.95);
}

.sol-price-table-qty-input {
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
    width: 50px;
    text-align: center;
    color: #714F36;
    font-size: 16px;
    font-weight: 500;
}

.sol-price-table-qty-area {
    /* display: flex !important;
    gap: 15px !important;
    align-items: center !important;
    justify-content: center !important; */
}

.sol-price-table-qty-area input[type="number"]::-webkit-inner-spin-button,
.sol-price-table-qty-area input[type="number"]::-webkit-outer-spin-button,
.sol-price-table-qty-area input[type="number"] {
    -webkit-appearance: none;
    appearance: none;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: transparent !important;
    border-bottom-width: 0px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
    border: none;
}

.sol-price-table-row {
    transition: ease-in-out 0.5s !important;
    vertical-align: middle !important;
}

.sol-price-table tr {
    border-radius: 14px !important;
}

.sol-price-table-row:hover {
    background-color: #F9C833;
}

.sol-price-table-row:hover .sol-price-table-data {
    font-weight: 600 !important;
}

.sol-price-table-data.price {
    color: #C8C8C8 !important;
    transition: ease-in-out 0.5s;
}

.sol-price-table-row:hover .sol-price-table-data.price {
    color: #714F36 !important;
}

.sol-price-table-row:hover .sol-price-table-qty-button {
    background-color: #FFF !important;
}

.sol-price-buy-now-btn-area {
    vertical-align: middle !important;

}

.sol-price-buy-now-btn {
    outline: none !important;
    border: none;
    background-color: transparent !important;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    transition: ease-in-out 0.5s;
    position: relative;
}

.sol-price-buy-now-btn-sub {
    border-radius: 48px;
    border: 3px solid #714F36;
    background-color: transparent;
    padding: 10px 30px;
    color: #714F36;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    overflow: hidden !important;
    transition: ease-in-out 0.5s;
}

/* .sol-price-buy-now-btn-sub::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.8s ease-in-out;
    background-color: #714F36;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
}

.sol-price-buy-now-btn-sub:hover::after {
    visibility: visible;
    transform: scale(50) translateX(2px);
} */

.sol-price-buy-now-btn-sub:hover {
    color: #FFF !important;
}

.sol-price-buy-now-btn:hover svg {
    transform: rotate(45deg);
}

.sol-price-buy-now-btn:hover .sol-price-buy-now-arrow-area {
    background-color: #714F36;
}

.sol-price-buy-now-btn:hover .sol-price-buy-now-arrow-area svg path {
    stroke: #FFF;
}

.sol-price-buy-now-arrow-area {
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid #714F36;
    padding: 12px 13px;
    transition: ease-in-out 0.8s;
    position: relative;
}

.sol-price-buy-now-arrow-area:hover {
    background-color: #714F36;
}

.sol-price-buy-now-arrow-area:hover svg path {
    stroke: #FFF;
}

.sol-price-buy-now-arrow-area svg,
.sol-price-buy-now-arrow-area svg path {
    transition: ease-in-out 0.8s;
}

.sol-price-table-row:hover .sol-price-buy-now-btn-sub {
    background-color: #714F36;
    color: #FFF;
}

.sol-price-table-row:hover .sol-price-buy-now-arrow-area {
    background-color: #714F36;
}

.sol-price-table-row:hover .sol-price-buy-now-arrow-area svg path {
    stroke: #FFF;
}

.sol-price-table-row .first-data {
    border-radius: 20px 0px 0px 20px !important;
}

.sol-price-table-row .last-data {
    border-radius: 0px 20px 20px 0px !important;
}

.sol-price-information {
    color: #5C3B2E;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    padding: 20px;
}

.sol-price-area .table-responsive::-webkit-scrollbar {
    height: 12px;
    border-radius: 10px !important;
}

.sol-price-area .table-responsive::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
}

.sol-price-area .table-responsive::-webkit-scrollbar-track {
    border-radius: 10px !important;
}

.term-con-area .term-con {
    margin-bottom: 0;
    padding: 0;
    color: #5C3B2E;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.term-con-area {
    padding: 0px 0px 50px 0px;
}

.term-con a {
    color: #0F75C5;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.pl-package-detail-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.pl-package-detail-area {
    border-radius: 10px;
    background-color: #FFF6F0;
    padding: 10px 30px 20px 30px;
    border: 1px solid #714F36;
    border-bottom-width: 3px;
    width: 50%;
}

.pl-package-detail-head {
    font-size: 25px;
    font-weight: 600;
    color: #714F36;
}

.pl-package-detail-title {
    font-size: 16px;
    font-weight: 600;
    color: #714F36;
}

.pl-package-row {
    padding: 25px 0;
    border-bottom: #714F36 1px solid;
}

.pl-package-row.bottom {
    border: none;
    background-color: #714F36;
    border-radius: 10px;
}

.pl-package-row.no-border {
    border: none;
}

.pl-package-row.bottom .pl-package-detail-title {
    color: #FFF !important;
}

.pl-package-detail-view-area {
    display: flex;
    align-items: center;
    gap: 30px;
}

.pl-package-detail-view-btn {
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    transition: ease-in-out 0.5s;
}

.pl-package-detail-view-btn i {
    color: #714F36;
    font-size: 20px;
}

.pl-package-detail-view-btn:focus,
.pl-package-detail-view-btn:active {
    border: none;
    outline: none;
}

.pl-pack-det-modal-head {
    font-size: 18px !important;
    color: #714F36 !important;
    font-weight: 400 !important;
}

.pl-pack-det-modal-head span {
    color: #000 !important;
    font-weight: 600 !important;
}

.pl-pack-det-modal-header {
    background-color: #FFF6F0;
    padding: 20px 25px;
    border-radius: 10px 10px 0px 0px !important;
}

.pl-pack-det-modal-body {
    padding: 25px !important;
}

.pl-pack-det-modal-footer {
    background-color: #f5f5f5;
    padding: 20px 25px;
    border-radius: 0px 0px 10px 10px !important;
    justify-content: flex-end;
}

.pl-pack-det-modal {
    border-radius: 10px !important;
}

.btn-close-btn {
    border: 1px solid #eb0000;
    color: #eb0000;
    font-size: 16px !important;
    transition: ease-in-out 0.5s;
}

.btn-close-btn:hover {
    background-color: #eb0000 !important;
    color: #FFF !important;
}

.text-right {
    text-align: right !important;
}

.pl-pack-det-table-row-head {
    background-color: #FFF6F0;
    border-bottom: #714F36 1px solid;
}

.pl-pack-det-table-row-head th {
    color: #714F36 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    padding: 15px;
}

.pl-pack-det-table-row {
    border-bottom: #714F36 1px solid;
}

.pl-pack-det-table-row td {
    color: #714F36 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    padding: 15px;
}

.pl-pack-det-table-area {
    border-radius: 10px;
    border: 1px solid #714F36;
    border-bottom-width: 3px;
    padding: 0;
}

.pl-pack-det-table {
    margin-bottom: 0;
}

.modal-header .btn-close:focus,
.modal-header .btn-close:active,
.modal-header .btn-close {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.modal-header .btn-close:hover {
    color: #eb0000 !important;
}

.swal2-container .swal2-popup {
    border-radius: 10px !important;
}

.swal2-confirm.swal2-styled.swal2-default-outline {
    background-color: #714F36 !important;
    border-color: #714F36 !important;
    box-shadow: none !important;
    padding: 10px 30px !important;
    border-radius: 8px !important;
}

.swal2-title {
    color: #714F36 !important;
}

.pl--payment-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.pl-payment-area {
    border-radius: 20px;
    padding: 30px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.pl-payment-area.success {
    border: #00b297 1px solid;
    border-bottom-width: 3px;
}

.pl-payment-area.failed {
    border: #f80000 1px solid;
    border-bottom-width: 3px;
}

.pl-payment-img {
    width: 140px;
    height: 140px;
    object-fit: contain;
}

.pl-payment-message {
    font-size: 20px;
    font-weight: 600;
}

.pl-payment-message.success {
    color: #00b297;
}

.pl-payment-message.failed {
    color: #eb0000;
}