@media screen and (min-width: 992px) and (max-width: 1399px) {


    .pl--package-detail-area .pl--package-img {
        width: 50px;
        height: 50px;
    }

    .pl--package-detail-area .pl--package-name {
        font-size: 20px;
        font-weight: 700 !important;
    }

    .pl--package-arrow-area.buy-now.pkg {
        display: none !important;
    }

    .pl--package-title-area .pl--package-img-hidden{
        height: 43px !important;
    }
}

@media (max-width:991.5px) {
    .packages--area {
        margin-top: 120px;
    }

    .pl--package-detail-area .pl--package-img,
    .pl--package-title-area .pl--package-img-hidden {
        width: 60px;
        height: 60px;
    }

    .pl--package-detail-area .pl--package-name {
        margin-top: 40px;
        font-size: 25px;
    }

    .pl--package-title-area .pl--package-name-hidden {
        margin-top: 25px;
        font-size: 18px;
    }

    .pl--package-title .with-bg {
        margin-bottom: 0;
    }

    .pl--package-title-area .pl--package-title,
    .pl--package-detail-area .pl--package-info {
        font-size: 16px;
        white-space: nowrap;
    }

    .custom-width {
        width: 20% !important;
    }

    .custom-width1 {
        width: 26.66% !important;
    }

    .pl--package-btn {
        font-size: 18px;
        padding: 13px 25px;
    }

    .pl--package-arrow-area {
        display: none;
    }

    .packages--area .pl--package-desc {
        font-size: 18px;
    }

    .pl--package-info-area {
        border-radius: 30px;
    }

    .term-con-area .term-con,
    .term-con a {
        font-size: 16px !important;
    }

    .pl-package-detail-area {
        width: 80%;
    }

    .custom--container {
        padding: 0;
    }

    .pl--package-btn.buy-now{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:500px) {

    .admin-component-name {
        font-size: 25px;
        padding-top: 20px;
    }

    .plans--container {
        padding: 40px 20px 10px 20px;
    }

    .plans--head-area .plans--heading {
        font-size: 25px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 30px;
    }

    .plans--head-area .plans--sub-head {
        font-size: 16px;
    }

    .plan--purchase-track-area {
        flex-direction: column;
        margin-top: 40px;
    }

    .pl--track-circle-area .pl--track-status {
        font-size: 18px;
        margin-bottom: 0;
        position: relative;
        top: 0;
    }

    .plan--purchase-track-area .pl--track-line {
        height: 50px;
        width: 2px;
    }

    .pl--track-circle-area {
        margin-top: 5px;
        gap: 10px;
    }

    .plan--purchase-track-area .pl--track-circle {
        width: 65px;
        height: 65px;
    }

    .packages--area {
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .pl--track-circle span {
        font-size: 30px;
    }

    .custom-width {
        width: 100% !important;
    }

    .custom-width1 {
        width: 100% !important;
    }

    .pl--package-title-area {
        display: none;
    }

    .pl--package-mobile-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px;
        margin: 0 15px;
        border-bottom: #714F36 1px solid;
    }

    .pl--package-detail-area .pl--package-name {
        margin-top: 30px;
        font-size: 22px;
        padding-bottom: 0;
    }

    .pl--package-mobile-flex .pl--package-mobile-title {
        display: block;
        color: #714F36;
        font-size: 16px;
        font-weight: 500;
        margin-top: 40px;
    }

    .pl--package-detail-area .pl--package-info {
        border-bottom: none;
        margin-top: 40px;
    }

    .pl--package-btn-area {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .pl--package-detail-area {
        margin-bottom: 60px;
        padding: 40px 0;
        border: 2px solid #714F36;
        border-bottom: 5px solid #714F36;
        border-radius: 48px;
        transition: ease-in-out 0.5s;
    }

    .pl--package-detail-area:hover {
        transform: translateY(8px);
        background-color: #F9C833;
    }

    .pl--package-btn::after {
        background-color: #fff;
    }

    .pl--package-arrow-area {
        display: block;
    }

    .pl--package-btn {
        font-size: 18px;
        padding: 14px 40px;
    }

    .pl--package-arrow-area {
        padding: 14px;
    }

    .pl--package-arrow-area svg,
    .pl--package-arrow-area.prev svg {
        width: 25px;
        height: 25px;
    }

    .packages--area .pl--package-desc {
        margin-top: 0px;
    }

    /* .custom-mobile-d-none {
        display: none;
    } */

    .pl--package-info-area {
        padding: 0;
        transition: none
    }

    .pl--package-info-area:hover {
        background-color: unset;
    }

    .hovered {
        background-color: unset !important;
    }

    .sol-price-container {
        padding: 0;
        margin: 60px 0 0 0;
    }

    .sol-price-heading {
        font-size: 25px;
        font-weight: 600;
        border-bottom: 1px solid #714F36;
        padding-bottom: 30px;
    }

    .sol-price-container .sol-price-area {
        padding: 40px 20px 20px 20px;
    }

    .sol-price-table {
        margin-top: 20px;
    }

    .sol-price-table .sol-price-table-head,
    .sol-price-table-data {
        /* padding: 10px 0px; */
        font-size: 16px !important;
        white-space: nowrap;
        vertical-align: middle;
    }

    .sol-price-table-data {
        padding: 25px 12px !important;
    }

    .sol-price-table .sol-price-table-head {
        padding: 30px 25px 30px 25px;
    }

    .sol-price-table-qty-input {
        font-size: 16px;
    }

    .sol-price-table-qty-button {
        font-size: 25px;
        width: 35px;
        height: 35px;
        font-weight: 500;
    }

    .sol-price-buy-now-btn-sub {
        font-size: 17px;
        padding: 8px 30px;
    }

    .sol-price-buy-now-arrow-area svg {
        width: 18px;
        height: 18px;
    }

    .sol-price-buy-now-arrow-area {
        padding: 10px 11px;
    }

    .sol-price-table-qty-area {
        gap: 10px;
    }

    .sol-price-information {
        font-size: 13px;
        padding: 40px 0px 20px 0px;
    }

    .sol-price-table-row {
        border-top: 1px solid #FFF;
    }

    .pl-package-detail-area {
        width: 100%;
    }

    .pl-package-detail-title,
    .pl-pack-det-table-row td {
        font-size: 14px !important;
    }

    .pl--package-btn-area {
        flex-direction: column;
        gap: 30px;
    }

    .pl-payment-area {
        padding: 25px;
        width: 100%;
    }

    .pl-payment-img {
        width: 120px;
        height: 120px;
    }

    .pl-payment-message {
        font-size: 20px;
    }

    .term-con-area {
        padding: 0px 0px 50px 0px !important;
        text-align: left !important;
    }

    .term-con-area .term-con,
    .term-con a {
        font-size: 14px !important;
    }

    .pl-package-detail-head {
        font-size: 22px;
    }

    .pl-package-detail-view-area {
        gap: 20px;
    }

    .pl--package-detail-area.active {
        border-color: #F9C833 !important;
    }

    .pl--package-info-area.active {
        border: none !important;
    }

    .package-row .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}