.cli--signup-form-area.forgot{
    padding: auto 120px auto 120px;
}

.client-forgot-area{
    margin: auto 0;
}

.show-pwd-icon {
    cursor: pointer;
    position: absolute;
    color: #5C3B2E;
    right: 0;
    /* display: none; */
    bottom: 10px;
    transition: display ease-in-out 0.5s !important;
}
/* 
.cli--signup-form-input:valid+.show-pwd-icon{
    display: block !important;
} */