@media screen and (min-width: 992px) and (max-width: 1367px) {
    .application-status-container {
        width: 45% !important;
    }
}

@media (max-width:991.5px) {
    .application-status-data {
        width: 100%;
    }

    .application-status-container {
        width: 50% !important;
    }
}

@media (max-width:500px) {
    
}