@media screen and (min-width: 991.98px) and (max-width: 1399.98px) {
    .home--head h5 {
        font-size: 30px;
    }

    .home--left-cover {
        padding-top: 180px;
    }

    .home--search-area .home--search-box {
        padding: 13px 15px 13px 60px;
    }

    .home--search-area .home--search-btn {
        padding: 10px 55px;
    }

    .home--search-area .home--search-icon {
        font-size: 22px;
        margin-top: -45px;
    }

    .home--img {
        width: 100%;
    }

    .bubble--img1 {
        width: 60px;
    }

    .bubble--img2,
    .bubble--img3,
    .bubble--img4 {
        width: 18px;
    }

    .bubble--img5,
    .bubble--img6,
    .bubble--img7 {
        width: 24px;
    }

    .bubble--img7 {
        right: -23px;
    }

    .bubble--img6 {
        top: 38%;
        left: 4%;
    }

    .home--popular-btn {
        padding: 12px 30px;
    }

    .card--imgicon-area .card--text {
        font-size: 20px !important;
    }

    .home--sub-des p {
        font-size: 15px !important;
    }

    .home--card-area {
        margin-top: 70px;
    }

    .home--bg {
        padding: 0px 36px 20px 36px;
    }

    .home--about-headarea .about--heading,
    .home--about-headarea .rpo--heading,
    .home--about-headarea .client--heading {
        font-size: 45px !important;
    }

    .home--know-more-btn {
        padding: 15px 40px;
        font-size: 20px;
    }

    .home--know-more-arrow {
        padding: 17px;
    }

    .home--about-toparea {
        /* flex-direction: column;
        align-items: flex-start;
        gap: 20px; */
    }

    .home--about-headarea h6 {
        font-size: 20px !important;
    }

    .home--about-headarea .service--heading {
        font-size: 45px;
    }

    .service--card-headarea h3 {
        font-size: 40px;
    }

    .service--content-area .service--content {
        font-size: 20px;
    }

    .rpo--card-heading h4 {
        font-size: 25px;
    }

    .rpo--card-learnmore {
        padding-top: 20px;
    }

    .rpo--know-more-btn {
        padding: 15px 30px;
        font-size: 20px;
    }

    .rpo--know-more-arrow {
        padding: 17px;
    }

    .home--milestone-headarea h6 {
        font-size: 20px !important;
    }

    .home--milestone-headarea .milestone--heading {
        font-size: 45px;
    }

    .home--milestone-card-right .home-milestone-number {
        font-size: 80px;
    }

    .home--milestone-card {
        height: 280px;
    }

    .home--milestone-cards-area {
        padding-top: 90px;
        padding-left: 0;
    }

    .home--about-headarea .candidate--heading {
        font-size: 45px;
    }

    .candidate--slider-area {
        margin-top: 100px;
    }

    .candidate--profile-area {
        gap: 12px;
    }

    .candidate--arrow-icon {
        width: 40px;
        height: 40px;
    }

    .candidate--arrow-icon img {
        width: 20px;
    }

    .candidate--skill h2 {
        font-size: 60px;
    }

    .canidate--profile-img {
        width: 90px;
        height: 90px;
    }

    .clients--section {
        padding-top: 0;
    }

    .client--img-container .client--img {
        width: 118px;
        height: 60px;
    }

    .testimonial--content-area {
        width: 85%;
    }

    .testimonial-sm--profile p {
        width: 80%;
    }

    .testimonial--profile h5 {
        font-size: 30px;
    }

    .testimonial--profile p {
        width: 100%;
    }

    .testimonial--content-area p {
        font-size: 18px;
    }

    .testimonial--profile-img {
        width: 150px;
        height: 150px;
    }

    .testimonial--arrow-area {
        width: 140px;
        height: 140px;
        outline: 20px solid #fff;
    }

    .testimonial--card-lg {
        border-radius: 48px 48px 68px 48px;
    }

    .custom-flex-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 1.5rem;
    }

    .testimonial--card-sm {
        width: 50%;
        margin-top: 1.5rem !important;
        height: 100% !important;
    }

    .home--testimonial-section {
        padding: 60px 36px 50px 36px;
    }

    .connect--section {
        padding-top: 100px;
    }

    .connect--title h4 {
        font-size: 30px;
        font-weight: 500;
    }

    .connect--content-area {
        margin-top: 100px;
    }

    .service--know-more-btn {
        font-size: 20px;
    }

    .service--know-more-arrow {
        padding: 17px;
    }

    .register--card {
        height: 200px;
    }

    .register--card .register--text {
        font-size: 60px;
    }

    .register-arrow-area svg {
        width: 62px;
        height: 62px;
    }
}

@media (max-width:991.5px) {
    .home--about-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .home--service-head-area {
        padding: 0 20px;
    }

    .home--rpo-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .candidate--section {
        padding-left: 44px;
        padding-right: 44px;
    }

    .candidate--skill h2 {
        font-size: 48px;
    }

    .clients--section,
    .home--testimonial-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .connect--section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .home--about-toparea {
        gap: 20px;
    }

    .home--about-para {
        width: 100%;
    }

    .home--about-headarea .service--heading,
    .home--milestone-headarea .milestone--heading {
        font-size: 48px;
    }

    .home--service-para {
        width: 100%;
    }

    .rpo--card-learnmore {
        margin-top: 15px;
    }

    .home--about-headarea .candidate--heading {
        font-size: 48px;
        line-height: 1.3;
    }

    .testimonial--card-lg {
        margin-bottom: 1.5rem;
    }

    .testimonial--card-sm {
        height: 80%;
    }

    .home--testimonial-section {
        overflow: visible;
        padding-bottom: 32%;
    }

    .contact--article {
        flex-direction: row;
        justify-content: space-around;
    }

    .connect--title {
        margin-top: 0;
    }

    .connect--article-content {
        align-items: flex-end;
    }

    .connect--desc-area p {
        text-align: right;
    }

    .contact--article {
        margin-bottom: 30px;
        margin-top: 30px;
        border: 2px solid #5c3b2f;
        border-radius: 48px;
        border-bottom: 5px solid #5c3b2f;
        padding: 50px 0;
    }

    .connect--img-area {
        border-radius: 48px;
    }

    .contact--article:hover {
        background-color: #F9C833;
    }

    .connect--btn::after {
        background-color: #fff;
    }

    .connect--btn-sub:hover svg path {
        stroke: #FFF;
    }

    .connect--content-area {
        margin-top: 50px;
    }

    .home--card-area {
        margin-top: 120px;
    }

    .home--right-cover {
        padding-top: 100px;
    }

    .home--card {
        height: 230px;
    }

    .home--left-cover {
        padding-top: 200px;
    }

    .candidate--profile-area {
        flex-direction: column;
        text-align: center;
    }

    /* .candidate--arrow-icon {
        display: none;
    } */
    .candidate--slider-area {
        margin-top: 100px;
        padding: 0 25px;
    }

    .home--services-slider-area {
        padding: 60px 40px;
    }

    .milestone--section {
        padding: 60px 40px 50px 40px;
    }

    .home--milestone-cards-area {
        padding-left: 0;
        padding-top: 80px;
    }

    .home--milestone-container {
        padding: 0 1rem;
    }

    .home--milestone-card {
        margin-bottom: 2rem;
        gap: 10px;
        height: 280px;
    }

    .home--milestone-card-right .home--milestone-title {
        font-size: 18px;
    }

    .home--milestone-card-right .home-milestone-number {
        font-size: 75px;
        letter-spacing: normal;
    }

    .col-rev-custom {
        flex-direction: column-reverse;
    }

    .home--right-cover {
        padding-top: 200px;
    }

    .home--left-cover {
        padding-top: 80px;
    }
}

@media (max-width:500px) {
    .col-rev-custom {
        flex-direction: column-reverse;
    }

    .home--section {
        margin-top: 13px;
        overflow: hidden !important;
    }

    .home--right-cover {
        padding-top: 130px;
    }

    .home--left-cover {
        padding-top: 40px;
    }

    .container-section {
        padding: 0;
    }

    .home--card {
        height: auto;
    }

    .card--imgicon-area .card--text {
        font-size: 20px !important;
    }

    .card--imgicon-area .card--icon {
        width: 60px;
    }

    .home--bg {
        padding: 0px 20px 40px 20px;
    }

    .home--head h5 {
        font-size: 22px;
    }

    .home--head h6 {
        margin-top: 35px;
        font-size: 15px;
    }

    .home--search-area .home--search-box {
        padding: 15px 15px 15px 50px;
        font-size: 15px;
    }

    .home--search-area .home--search-btn {
        padding: 10px 55px;
        font-size: 20px;
    }

    .home--search-area .home--search-icon {
        margin-top: -40px;
        font-size: 20px;
        margin-left: 20px;
    }

    .home--popular-btn {
        padding: 9px 20px;
        font-size: 12px;
        margin: 0px 15px 15px 0;
    }

    .home--img {
        width: 95%;
    }

    .bubble--img2,
    .bubble--img3,
    .bubble--img4,
    .bubble--img5,
    .bubble--img6,
    .bubble--img7 {
        max-width: 3.5%;
    }

    /* .home--img.animated,
    .bubble--img1.animated,
    .bubble--img2.animated,
    .bubble--img3.animated,
    .bubble--img4.animated,
    .bubble--img5.animated,
    .bubble--img6.animated,
    .bubble--img7.animated {
        animation: none;
    } */

    .bubble--img1 {
        max-width: 12%;
    }

    .home--card-area {
        margin-top: 60px;
    }

    .card--imgicon-area .card--text {
        font-size: 18px;
    }

    .home--about-section {
        padding-top: 60px !important;
        padding-bottom: 40px !important;
        padding-left: 0;
        padding-right: 0;
    }

    .home--service-head-area {
        padding: 0;
    }

    .home--sub-des p {
        font-size: 15px !important;
    }

    .home--about-headarea h6,
    .home--milestone-headarea h6 {
        font-size: 13px !important;
    }

    .home--about-headarea .about--heading,
    .home--about-headarea .rpo--heading,
    .home--about-headarea .client--heading {
        margin-top: 12px;
        font-size: 30px !important;
    }

    .home--know-more-btn {
        padding: 8px 30px;
        font-size: 19px;
    }

    .home--know-more-arrow {
        padding: 10px 13px;
    }

    .home--know-more-arrow .knowmore--arrow {
        width: 18px;
        height: 18px;
    }

    .home--about-para {
        margin-top: 40px !important;
    }

    .home--about-para p {
        font-size: 18px !important;
        line-height: normal !important;
    }

    .home--service-section {
        padding: 0;
    }

    .home--about-headarea .service--heading,
    .home--milestone-headarea .milestone--heading {
        margin-top: 10px;
        font-size: 30px;
    }

    .home--service-para {
        margin: 30px 0;
    }

    .home--service-para p {
        font-size: 18px !important;
        line-height: normal !important;
    }

    .home--services-slider-area {
        padding: 40px 25px 25px 25px !important;
    }

    .home--service-card {
        padding: 25px;
        flex-direction: column;
    }

    .service--arrow-area .service--arrow-img {
        width: 30px;
    }

    .service--card-headarea {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .service--card-headarea h3 {
        font-size: 30px;
        font-weight: 500;
    }

    .service--card-headarea .sourcing-icon,
    .service--card-headarea .interview-icon,
    .service--card-headarea .verification-icon {
        width: 60px;
        height: 60px;
    }

    .service--content-area .service--content {
        font-size: 18px;
    }

    .service--know-more-btn {
        padding: 13px 30px;
        font-size: 18px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service--know-more-arrow {
        padding: 15px;
    }

    .service--know-more {
        align-items: center;
        width: 100%;
    }

    .service-know-morearea {
        float: none;
        display: flex;
        justify-content: center;
    }

    .home--rpo-section {
        padding-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .rpo--para-area p {
        font-size: 18px !important;
        line-height: normal !important;
    }

    .rpo--para-area {
        margin: 30px 0 30px 0 !important;
        width: 100% !important;
    }

    .rpo--card-heading h4 {
        font-size: 30px;
    }

    .rpo--content-card {
        padding: 30px 0px 30px 0px !important;
    }

    .rpo--card-desc p {
        margin-top: 8px;
        font-size: 18px !important;
        line-height: normal !important;
    }

    .rpo--know-more-btn {
        font-size: 20px;
        padding: 12px 40px;
    }

    .rpo--know-more {
        align-items: center;
    }

    .rpo--know-more-arrow {
        padding: 15px;
    }

    .custom--mobile-padding {
        padding: 0 0.75rem;
    }

    .candidate--section {
        padding-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .home--about-headarea .candidate--heading {
        font-size: 30px !important;
        line-height: normal;
    }

    .candidate--slider-area {
        margin-top: 60px;
    }

    .home--slider-btn-area {
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .candidate--slider-area {
        padding: 0 !important;
    }

    .candidate--profile-area {
        flex-direction: column;
        text-align: center;
    }

    .candidate--arrow-icon {
        width: 40px;
        height: 40px;
    }

    .candidate--arrow-icon img {
        width: 20px;
    }

    .canidate--profile-img {
        width: 100px;
        height: 100px;
    }

    .candidate--skill h6 {
        font-size: 15px;
    }

    .clients--section,
    .home--testimonial-section {
        padding-top: 0;
        padding-left: 0px;
        padding-right: 0px;
    }

    .clients--img-area {
        margin-top: 30px;
    }

    .testimonial--card-area {
        margin-top: 60px;
    }

    .testimonial--profile-area {
        flex-direction: column;
        text-align: center;
    }

    .testimonial--profile h5 {
        font-size: 30px;
    }

    .testimonial--profile p {
        width: 100%;
        text-align: center;
    }

    .testimonial--content-area {
        margin-top: 25px;
        width: 100%;
    }

    .testimonial--content-area p {
        font-size: 18px !important;
        line-height: normal !important;
        padding-bottom: 10px;
    }

    .testimonial--card-lg {
        padding: 25px;
        border-radius: 50px !important;
    }

    .testimonial--arrow-area {
        position: relative !important;
        width: 80px;
        height: 80px;
        outline-width: 8px !important;
        float: right;
    }

    .testimonial--arrow-area svg {
        width: 40px !important;
        height: 40px !important;
    }

    .testimonial-sm--profile-area {
        flex-direction: column;
    }

    .testimonial--card-sm {
        padding: 25px;
    }

    .testimonial--sm-profile-img {
        width: 90px;
        height: 90px;
    }

    .testimonial-sm--profile p {
        width: 80%;
    }

    .testimonial--card-sm.test--card-bg1:hover,
    .testimonial--card-sm.test--card-bg2:hover {
        background-position: center !important;
    }

    .testimonial--card-sm {
        height: auto !important;
    }

    .connect--section {
        padding-top: 0;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0;
    }

    .home--testimonial-section {
        padding-bottom: 60px !important;
    }

    .connect--content-area {
        margin-top: 20px;
    }

    .contact--article {
        flex-direction: column !important;
    }

    .connect--title h4 {
        font-size: 30px;
    }

    .connect--article-content {
        margin-top: 15px;
        align-items: center !important;
    }

    .connect--desc-area {
        height: auto !important;
    }

    .connect--btn-area {
        margin-top: 10px !important;
    }

    .connect--desc-area p {
        text-align: center !important;
    }

    .register--section {
        padding: 60px 0;
    }

    .register--card {
        height: 150px;
    }

    .register--card .register--text {
        font-size: 40px;
    }

    .register-arrow-area svg {
        right: 15px;
        top: 15px;
        width: 30px;
        height: 30px;
    }

    .milestone--section {
        margin-top: 0;
        padding: 40px 25px 20px 25px !important;
    }

    .home--milestone-cards-area {
        padding-top: 60px;
    }

    .home--milestone-card {
        height: 250px;
    }

    .home--milestone-card-top svg {
        width: 40px;
    }

    .home--milestone-card:hover .home--milestone-card-top svg {
        transform: translateX(3px);
    }

    .home--milestone-card {
        padding: 25px 20px 0 20px;
    }

}