.custom-file-label.ats {
    border: #714F36 1px dashed !important;
    border-radius: 0px !important;
    padding: 11px 13px !important;
    line-height: normal !important;
    height: auto !important;
    color: #8f8f8f !important;
    font-size: 14px !important;
    cursor: pointer;
    background-color: #FFF !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-file.ats,
.custom-file-input.ats {
    height: auto !important;
    cursor: pointer;
}

.custom-file-label.ats::after {
    height: auto !important;
    padding: 11px 13px !important;
    line-height: normal !important;
    color: #FFF !important;
    background-color: #714F36 !important;
    border-radius: 0 !important;
    cursor: pointer;
}

.post-job-btn.yellow {
    background-color: #ffffff !important;
    color: #714F36 !important;
}

.post-job-btn.yellow:hover {
    background-color: #714F36 !important;
    color: #FFF !important;
}

/* customized react datepicker */
.job-post-form-group .react-datepicker-wrapper {
    width: 100% !important;
}

.job-post-form-group .react-datepicker-wrapper .react-datepicker__input-container input {
    outline: none !important;
    border: #714F36 1px solid !important;
    padding: 11px 13px !important;
    color: #714F36;
    font-size: 14px;
    font-weight: 400;
    width: 100% !important;
}

.job-post-form-group .react-datepicker-wrapper .react-datepicker__input-container input::placeholder {
    color: #8f8f8f !important;
}

.job-post-form-group .react-datepicker-wrapper .react-datepicker__input-container input:disabled::placeholder {
    color: #a5a5a5;
    background-color: #FFF;
}

.job-post-form-group .react-datepicker-wrapper .react-datepicker__input-container input:disabled {
    border-color: #a5a5a5;
    cursor: not-allowed;
    background-color: #FFF;
    color: #7e7e7e;
}

.job-post-form-group .react-datepicker__day--selected {
    background-color: #714F36;
}

.job-post-form-group .react-datepicker__day--keyboard-selected {
    background-color: #F9C833;
}

.job-post-form-group .react-datepicker__day--keyboard-selected:hover {
    background-color: #714F36 !important;
    color: #F9C833 !important;
}

.job-post-form-group .react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
    color: #714F36;
}

.job-post-form-group .react-datepicker__header {
    background-color: #F9C833;
}

.job-post-form-group .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
    border-color: #714F36 !important;
}

.job-post-form-group .react-datepicker {
    border-color: #714F36;
}

.job-post-form-group .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before {
    border-top-color: #714F36;
}

.job-post-form-group .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
    top: -0.5px;
    border-bottom-color: #714F36;
}

.job-post-form-group .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
    border-bottom-color: #F9C833;
}

.job-post-form-group .react-datepicker-popper {
    z-index: 3 !important;
}

.job-post-form-group .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before,
.job-post-form-group .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before,
.job-post-form-group .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after,
.job-post-form-group .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
    left: auto !important;
    right: 0 !important;
}

.job-post-form-group .react-datepicker__navigation:focus,
.job-post-form-group .react-datepicker__navigation:active {
    outline: none !important;
}

.event-preview-image-area {
    width: 250px;
    height: 150px;
    border: 4px solid #fff;
    border-radius: 16px;
    box-shadow: 0px 0px 10px #0000002c;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-preview-image {
    width: 250px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.event-preview-area {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    transition: all 0.5s;
    margin-top: 50px;
    background-color: #F0F0F0;
    border-radius: 16px;
    padding: 20px;
    width: max-content;
}

.clear-image-btn {
    background-color: #ffdada;
    color: #d40000;
    font-size: 13px;
    font-weight: 600;
    border: #d40000 1px solid;
    border-radius: 50px;
    padding: 3px 15px 3px 10px;
    outline: none;
    transition: ease-in-out 0.5s;
    position: relative;
    white-space: nowrap;
}

.clear-image-btn span::before {
    content: "\f62a";
    display: inline-block;
    color: #d40000;
    margin-right: 5px;
    transition: ease-in-out 0.5s;
    font-family: 'bootstrap-icons' !important;
    font-style: normal;
    font-weight: normal !important;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
}

.clear-image-btn:hover {
    background-color: #d40000 !important;
    color: #ffd2d2 !important;
}

.clear-image-btn:hover span::before {
    color: #FFF !important;
}

.clear-image-btn:focus,
.clear-image-btn:active {
    outline: none;
}

/* ///// */
@media (max-width:500px) {

    .event-preview-image-area,
    .event-preview-image,
    .event-preview-area {
        width: 100%;
    }

    .event-preview-area{
        flex-direction: column;
    }
}