.reports-section {
    padding: 30px 0;
}

.report-card {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding: 30px !important;
}

.report-tabs {
    border-bottom: 2px solid #714F36;
}

.nav-pills .nav-item .nav-link.report {
    /* border-radius: 0px !important; */
    font-size: 16px !important;
    color: #714F36 !important;
    font-weight: 600 !important;
    padding: 10px 35px !important;
}

.nav-pills .nav-item .nav-link.report.active {
    background-color: #714F36 !important;
    color: #FFF !important;
}

.report-tiles {
    text-decoration: none !important;
    color: #714F36 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: inset 0px 0px 15px #0000002c;
    transition: ease-in-out 0.5s;
    line-height: 20px !important;
    margin-bottom: 25px;
    height: 90%;
    overflow-y: hidden;
    border-bottom: 3px solid #714F36;
}


.report-tiles:hover {
    background-color: #FFF5D6 !important;
    box-shadow: inset 0px 0px 15px #0000001a;
    transform: translateY(-5px);
}

.report-tile-sub {
    font-size: 11px !important;
    font-weight: 500;
}

.report-tile-img-area {
    background-color: #FFF;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #0000001e;
    position: relative;
    overflow: hidden;
}

.report-tile-img-area .report-tile-img {
    width: 65%;
}

/* ///// */
.report-page-section {
    margin: 20px 0;
}

.report-page-card {
    padding: 20px;
}

.report-page-des-area {
    border-radius: 12px;
    background-color: #FFECE4;
    /* box-shadow: inset 0px 0px 10px #0000001d; */
    padding: 15px;
    border: 1px dashed #714F36;
}

.report-page-des-area p {
    margin-bottom: 0 !important;
    color: #714F36;
    font-size: 14px;
    font-weight: 500;
}

.report-filter-area {
    margin-top: 20px;
    border: 2px solid #F0F0F0;
    /* box-shadow: 0px 0px 15px #00000015; */
    border-radius: 12px;
    padding: 15px;
}

.report-filter-input-area {
    position: relative;
    width: 100%;
}

.report-filter-input {
    outline: none;
    border: none;
    height: auto !important;
    border-radius: 50px !important;
    padding: 12px 20px !important;
    background-color: #FFF5D6;
    box-shadow: inset 0px 0px 10px #0000001d;
    color: #714F36;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.report-filter-input.date {
    padding: 11px 20px !important;
}

.report-filter-input-area .toggle-icon {
    position: absolute;
    color: #714F36;
    right: 20px;
    top: 13px;
    pointer-events: none;
}

.report-filter-input option {
    background-color: #FFF !important;
}

.run-report-button {
    outline: none;
    border: none;
    background-color: #714F36;
    box-shadow: inset 0px 0px 10px #0000002b;
    padding: 12px 30px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    transition: ease-in-out 0.5s;
}

.run-report-button:hover {
    background-color: #ffffff !important;
    color: #714F36 !important;
    box-shadow: inset 0px 0px 15px #00000034;
}

.run-report-button:focus {
    outline: none;
    border: none;
}

.run-report-button:active {
    background-color: #714F36 !important;
    color: #fff !important;
}

.date-filter-label {
    color: #714F36;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 8px 10px;
    line-height: 1px;
    border: 1px solid #eee4c5;
}

.report-view-section {
    margin-top: 20px;
    border: 2px solid #F0F0F0;
    /* box-shadow: 0px 0px 15px #00000015; */
    border-radius: 12px;
    padding: 15px;
}

.table-report-head {
    color: #714F36;
    font-size: 16px;
    font-weight: 600;
}

/* ///// */
.report-table-head {
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #a6a6a6 !important;
    background-color: #FFF !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.report-table-head-skew {
    font-size: 11px !important;
    font-weight: 600 !important;
    color: #000000 !important;
    background-color: transparent !important;
    position: relative;
    height: 90px !important;
    min-width: 70px !important;
    max-width: 100% !important;
    vertical-align: bottom;
    padding: 0 !important;
    line-height: 0.8 !important;
}

.report-table-head-skew>div {
    position: relative;
    top: 0px;
    left: 40px;
    height: 100%;
    -ms-transform: skew(-45deg, 0deg);
    -moz-transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    -o-transform: skew(-45deg, 0deg);
    transform: skew(-45deg, 0deg);
    overflow: hidden;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

.report-table-head-skew span {
    -ms-transform: skew(45deg, 0deg) rotate(315deg);
    -moz-transform: skew(45deg, 0deg) rotate(315deg);
    -webkit-transform: skew(45deg, 0deg) rotate(315deg);
    -o-transform: skew(45deg, 0deg) rotate(315deg);
    transform: skew(45deg, 0deg) rotate(315deg);
    position: absolute;
    bottom: 35px;
    left: -25px;
    display: inline-block;
    width: 100%;
    width: 85px;
    text-align: left;
    white-space: nowrap;
}

.no-verical-align {
    vertical-align: bottom !important;
}

.report-table-row.with-border {
    border-bottom: 1px solid #cccccc;
}

.report-table-head.with-border {
    border-bottom: 1px solid #cccccc !important;
}

.report-table-data {
    color: #000000b2 !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: auto !important;
}

tfoot .report-table-data {
    font-weight: 700 !important;
    color: #000000 !important;
}

.report-data-view-button {
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #00a7fa !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    transition: ease-in-out 0.5s;
    text-align: left;
}

.report-data-view-button:focus {
    outline: none;
    border: none;
}

.report-data-view-area {
    height: 350px;
    position: relative;
}

.report-table-row.head {
    background-color: #FFF;
    position: sticky;
    top: 0;
    z-index: 2;
}

.report-table-pagination-area {
    border-radius: 12px;
    background-color: #F0F0F0;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.page-link.custom {
    color: #714F36 !important;
    border-radius: 50% !important;
    width: 35px !important;
    height: 35px !important;
    padding: unset !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
}

.page-link.custom:hover {
    background-color: #714F36 !important;
    color: #FFF !important;
}

.table-export-area {
    margin-top: 20px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cccccc;
}

.export-head {
    font-size: 16px;
    color: #714F36;
    font-weight: 600;
}

.table-export-btn {
    outline: none;
    transition: ease-in-out 0.5s;
    border-radius: 10px;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 13px;
    position: relative;
    background-color: #FFF;
    border-bottom-width: 3px !important;
}

.table-export-btn:focus {
    outline: none;
}

.table-export-btn img {
    width: 20px;
    margin-right: 5px;
    filter: drop-shadow(0px 0px 8px #FFF);
}

.table-export-btn.pdf {
    border: 1px solid #ED2224;
    color: #ED2224;

}

.table-export-btn.pdf:hover {
    background-color: #ED2224 !important;
    color: #FFF !important;
}

.table-export-btn.excel {
    border: 1px solid #107c41;
    color: #107c41;
}

.table-export-btn.excel:hover {
    background-color: #107c41 !important;
    color: #FFF !important;
}

.table-foot {
    background-color: #F0F0F0;
}

.report-no-data-found-area {
    margin-top: 20px;
    border: 2px solid #F0F0F0;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.report-no-data-found-img {
    width: 25%;
}

.report-no-data-found-text {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.report-no-data-found-sub-text {
    margin-top: 5px;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
}

.report-radio-area {
    width: 100%;
    margin-top: 15px;
    border-radius: 50px;
    padding: 15px;
    /* border: 2px solid #F0F0F0; */
    background-color: #f5f5f5;
    box-shadow: inset 0px 0px 10px #0000001d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.report-radio-button {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    margin: 0px;
    position: relative;
    align-items: center;
    color: #714F36 !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    cursor: pointer;
}

.report-radio-button input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.report-radio {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    outline: 1px solid #714F36;
    background-color: #FFF5D6;
    box-shadow: inset 0px 0px 5px #2d23001e;
    -webkit-transform: translateZ(-25px);
    transform: translateZ(-25px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    flex-shrink: 0;
}

.report-radio::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #714F36;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.report-radio-button input[type="radio"]:checked+.report-radio {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    background-color: #FFF5D6;
}

.report-radio-button input[type="radio"]:checked+.report-radio::before {
    opacity: 1;
}

.report-radio-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.report-table-data.is-bold {
    color: #000000 !important;
    font-weight: 700 !important;
}

.report-table-data.no-wrap {
    white-space: nowrap;
}

.report-table-head.no-wrap {
    white-space: nowrap;
}

.text-blue {
    color: #00a7fa;
}

.current-status {
    border-radius: 50px;
    font-size: 13px !important;
    font-weight: 600;
    padding: 5px;
    text-align: center;
    color: #00a7fa;
    background-color: #ecf8ff;
    box-shadow: inset 0px 0px 8px #0040601e;
}

.priority {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #FFF5D6;
    /* box-shadow: inset 0px 0px 8px #0040601e; */
    padding: 2px;
}

.priority:not(:checked)>input {
    position: absolute;
    appearance: none;
}

.priority:not(:checked)>label {
    cursor: pointer;
    font-size: 25px;
    color: #666;
    margin-bottom: 0;
}

.priority:not(:checked)>label:before {
    content: '★';
}

.priority>input:checked+label:hover,
.priority>input:checked+label:hover~label,
.priority>input:checked~label:hover,
.priority>input:checked~label:hover~label,
.priority>label:hover~input:checked~label {
    color: #e58e09;
}

.priority:not(:checked)>label:hover,
.priority:not(:checked)>label:hover~label {
    color: #ff9e0b;
}

.priority>input:checked~label {
    color: #ffa723;
}

.clear-priority {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    margin-top: 5px;
    margin-right: 5px;
}

.clear-priority:focus {
    outline: none;
    border: none;
}

.clear-priority i {
    color: red;
    font-size: 15px;
}

.priority-stars {
    white-space: nowrap;
    margin-top: 5px;
    display: flex;
    gap: 3px;

}

.priority-stars i {
    color: #edb100 !important;
}

/* /// */
.report-custom-select-input {
    outline: none;
    border: none;
    height: auto !important;
    border-radius: 50px !important;
    padding: 12px 20px !important;
    background-color: #FFF5D6;
    box-shadow: inset 0px 0px 10px #0000001d;
    color: #714F36;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.p-dropdown-panel {
    border-radius: 20px;
    background-color: #FFF;
    position: relative;
    border: 1px solid #a6a6a6;
    border-bottom-width: 3px;
    box-shadow: 0px 5px 15px #00000027;
    margin: 2px 0;
    overflow: hidden;
}

.p-dropdown-panel .p-dropdown-header {
    padding: 8px;
}

.p-dropdown-header .p-dropdown-filter-container {
    position: relative;
}

.p-dropdown-header .p-dropdown-filter-container .p-inputtext {
    background-color: #F0F0F0;
    border-radius: 50px;
    padding: 10px 16px !important;
    outline: none;
    border: none;
    font-size: 14px !important;
    box-shadow: inset 0px 0px 8px #0000000f;
}

.p-dropdown-filter-container .p-inputtext:focus {
    border: none;
    outline: none;
}

.p-dropdown-filter-container svg {
    position: absolute;
    right: 16px;
    pointer-events: none;
}

.p-dropdown-items-wrapper {
    max-height: 270px !important;
    max-width: 400px;
}

.p-dropdown-items-wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.p-dropdown-items-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #c0c0c0;
}

.p-dropdown-items-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none !important;
    background-color: transparent !important;
}

.p-dropdown-items-wrapper .p-dropdown-item {
    padding: 5px 12px;
    transition: ease-in-out 0.5s;
    font-size: 13px !important;
    color: #3c3c3c;
    margin: 0px 5px;
    border-radius: 8px;
}

.p-dropdown-items-wrapper .p-dropdown-item.p-highlight {
    background-color: #FFF5D6 !important;
    color: #714F36 !important;
    font-weight: 500 !important;
}

.p-dropdown-items-wrapper .p-dropdown-item:hover {
    background-color: #F0F0F0 !important;
    color: #714F36 !important;
}

.p-dropdown-items-wrapper .p-dropdown-items .p-dropdown-empty-message {
    font-size: 12px;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
}

/* for report loader */
.dot-spinner-area {
    background-color: #0000007e;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
}

.dot-spinner {
    --uib-size: 4rem;
    --uib-speed: .9s;
    --uib-color: #ffffff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
}

.dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0.5;
    -webkit-animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    -webkit-box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
    -webkit-animation-delay: calc(var(--uib-speed) * -0.875);
    animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
    -webkit-animation-delay: calc(var(--uib-speed) * -0.75);
    animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
    -webkit-animation-delay: calc(var(--uib-speed) * -0.625);
    animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
    -webkit-animation-delay: calc(var(--uib-speed) * -0.5);
    animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
    -webkit-animation-delay: calc(var(--uib-speed) * -0.375);
    animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
    -webkit-animation-delay: calc(var(--uib-speed) * -0.25);
    animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
    -webkit-animation-delay: calc(var(--uib-speed) * -0.125);
    animation-delay: calc(var(--uib-speed) * -0.125);
}

@-webkit-keyframes pulse0112 {

    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0.5;
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulse0112 {

    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0.5;
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}