@media screen and (min-width: 991.98px) and (max-width: 1399.98px) {
    .about--left-cover {
        padding-top: 160px;
    }

    .about--card-area {
        margin-top: 30px;
    }

    .about--head h2 {
        font-size: 60px;
    }

    .about--head {
        margin-top: 20px;
    }

    .about--milestone-section {
        padding-top: 80px;
    }

    .about--headingarea h6 {
        font-size: 20px !important;
    }

    .about--headingarea .about--milestone-heading {
        font-size: 45px !important;
    }

    .about--milestone-cards-area {
        padding-top: 80px;
        padding-left: 0px;
    }

    .about--weoffer-section {
        padding-top: 60px;
        padding-bottom: 100px;
    }

    .about--weoffer-container {
        padding: 30px 40px;
    }

    .ab-weoff--top-area .ab-weoff---heading {
        font-size: 45px;
    }

    /* .ab-weoff--top-area {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    } */

    .ab--weoff-btn {
        padding: 15px 40px;
        font-size: 20px;
    }

    .ab--weoff-btn-arrow-area {
        padding: 17px;
    }

    .ab-weoff-card {
        padding: 0 40px 0 40px;
    }

    .ab--milestone-card-right .ab-milestone-number {
        font-size: 80px;
    }

    .about--milestone-card {
        height: 280px;
    }
}

@media (max-width:991.5px) {
    .about--left-cover {
        padding-top: 190px;
    }

    .about--head {
        margin-top: 30px;
    }

    .about--head h2 {
        line-height: 1.4em;
        font-size: 60px;
    }

    .about--right-cover {
        align-items: center;
    }

    .about--card {
        height: 230px;
    }

    .about--card-area {
        margin-top: 30px;
    }

    .about--desc-section {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about--milestone-section {
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about--headingarea .about--milestone-heading {
        margin-top: 12px;
        font-size: 48px !important;
    }

    .about--milestone-cards-area {
        padding-left: 0;
        padding-top: 80px;
    }

    .ab--milestone-container {
        padding: 0 1rem;
    }

    .about--milestone-card {
        margin-bottom: 2rem;
        gap: 10px;
        height: 280px;
    }

    .ab--milestone-card-right .ab-milestone-number {
        font-size: 80px;
        letter-spacing: normal;
    }

    .about--weoffer-container {
        padding: 40px;
    }

    .ab-weoff--top-area {
        flex-wrap: wrap;
        gap: 20px;
    }

    .ab-weoff--top-area .ab-weoff---heading {
        width: 100%;
        font-size: 48px;
    }

    .ab-weoff-card {
        padding: 0 40px;
    }
}

@media (max-width:500px) {
    .about--section {
        margin-top: 13px;
    }
    .about--card-area{
        margin-top: 20px !important;
    }
    .about--card{
        padding: 22px !important;
        height: auto !important;
    }
    .about--left-cover {
        padding-top: 130px;
    }

    .about--bg {
        padding: 0px 20px 40px 20px;
    }

    .about--head h2 {
        line-height: 1.4em;
        font-size: 35px;
    }

    .breadcrumb--item {
        display: inherit;
    }

    .breadcrumb--area .breadcrumb--item a,
    .breadcrumb--area .breadcrumb--item p {
        font-size: 12px !important;
    }

    .about--head {
        margin-top: 20px;
    }

    .card--imgicon-area .card--text {
        font-size: 20px !important;
    }

    .card--imgicon-area .card--icon {
        width: 60px;
    }

    .about--sub-des p {
        font-size: 15px !important;
    }

    .about--desc-section p {
        font-size: 16px !important;
    }

    .about--desc-section {
        padding-top: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .about--milestone-section {
        padding-top: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .about--headingarea .about--milestone-heading {
        margin-top: 10px;
        font-size: 30px !important;
    }

    .about--headingarea h6 {
        font-size: 13px !important;
    }

    .about--milestone-cards-area {
        padding-top: 40px;
    }

    .ab--milestone-card-top svg {
        width: 40px;
    }

    .ab--milestone-card-right .ab-milestone-number {
        font-size: 65px;
        font-weight: 500 !important;
    }

    .ab--milestone-card-right .ab--milestone-title {
        font-size: 18px;
    }

    .about--milestone-card {
        height: 230px;
        padding: 22px 22px 0 22px !important;
    }

    .about--milestone-card:hover .ab--milestone-card-top svg {
        transform: translateX(3px);
    }

    .about--weoffer-section {
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .ab-weoff--top-area .ab-weoff---heading {
        font-size: 30px;
    }

    .about--weoffer-container {
        padding: 30px 25px 20px 25px;
    }

    .ab--weoff-btn {
        padding: 8px 30px;
        font-size: 19px;
    }

    .ab--weoff-btn-arrow-area {
        padding: 10px 13px;
    }

    .ab--weoff-btn-arrow-area svg {
        width: 18px;
        height: 18px;
    }

    .ab--weoff-card-area {
        padding-top: 40px;
    }

    .ab-weoff-card {
        padding: 15px 20px;
    }

    .ab-weoff-card .ab-weoff-card-arr-num-area svg {
        width: 40px;
    }

    .ab-we-off-card-des-area .ab-we-off-card-des {
        font-size: 16px;
    }

    .ab-weoff-card .ab-weoff-card-num {
        font-size: 45px;
    }

    .ab-weoff-card {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .ab-we-off-card-des-area {
        width: 100%;
    }
}