@media (max-width:573px) {
    .generate-btn-area {
        display: flex;
        justify-content: flex-start;
    }

    .custom-flex-area {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}