@media (max-width:573px) {
    .view-det-sub-head {
        padding: 15px 0px 10px 18px !important;
    }

    .man-app-title-area.candidate {
        gap: 20px;
        flex-direction: column;
        align-items: stretch;
    }

    .recruiter-search-input-area {
        width: 100% !important;
    }

    .man-app-title-area.candidate {
        align-items: flex-start !important;
    }

    .cand-skills-area {
        padding: 15px 0px 10px 18px !important;
    }

    .no-data-created-area {
        padding: 25px 20px 20px 20px;
    }
}