.send-email-btn {
    color: #0470c8 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    background-color: #FFF;
    transition: ease-in-out 0.5s;
    border: 2px solid #166ed8 !important;
    padding: 6px 10px !important;
    border-radius: 6px;
    outline: none;
    white-space: nowrap;
}

.send-email-btn:focus,
.send-email-btn:active {
    outline: none;
}

.send-email-btn:hover {
    background-color: #166ed8 !important;
    color: #FFF !important;
}

.send-email-btn .send-icon {
    transition: ease-in-out 0.5s;
    transform: rotate(45deg) !important;
    margin-right: 8px;
    color: #166ed8 !important;
}

.send-email-btn:hover .send-icon {
    color: #FFF !important;
}

.view-det-head {
    color: #714F36;
    font-size: 14px;
    font-weight: 600;
}

.view-det-head::before {
    content: "";
    display: inline-block;
    background-color: #F9C833;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 2px;
}

.view-det-sub-head {
    color: #714F36;
    font-size: 14px;
    font-weight: 500;
}

.recruiter-view-card {
    margin-bottom: 0;
    border: 1px solid #714F36;
    border-bottom-width: 3px;
    margin-top: 10px;
}

.recruiter-view-modal-header {
    background-color: #f7f9f9 !important;
    border-radius: 10px 10px 0 0;
    padding: 20px 25px;
    box-shadow: 0px 5px 10px #0000001a;
}

.recruiter-view-close {
    color: #ff0000 !important;
    opacity: 1;

}

.recruiter-view-modal-title {
    font-size: 16px !important;
    font-weight: 600 !important;
    border-radius: 8px;
    padding: 5px 15px;
}

.recruiter-view-modal-title.client {
    background-color: #714F36;
    color: #ffffff !important;
}

.recruiter-view-modal-title.client::before {
    content: "";
    display: inline-block;
    background-color: #714F36;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 2px;
    border: 2px solid #F9C833;
}
.recruiter-view-modal-title.candidate::before {
    content: "";
    display: inline-block;
    background-color: #F9C833;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 2px;
    border: 2px solid #FFF;
}
.recruiter-view-modal {
    border-bottom: #714F36 4px solid;
    border-radius: 10px;
    background-color: #e6e6e6;
}

.recruiter-view-modal-footer {
    border-top: none;
    justify-content: flex-end !important;
    border-radius: 0 0 10px 10px !important;
    box-shadow: 0px -5px 10px #00000016;
}

.table-scroll-area::-webkit-scrollbar {
    height: 8px;
    background-color: #F5F5F5;
}

.table-scroll-area::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.table-scroll-area::-webkit-scrollbar-track {
    border-radius: 10px;
}

.no-data-created-area {
    background-color: #F0F0F0;
    border-radius: 16px;
    padding: 32px 25px 25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-data-created-area .no-data-created .no-data-text{
    margin-bottom: 0;
    font-size: 16px;
    color: #929292;
}
.no-data-created-area i{
    font-size: 25px;
    vertical-align: middle;
}
.no-data-created-area .no-data-created{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* background-color: #FFF;
    border-radius: 16px;
    padding: 20px; */
}
.no-data-created .no-data-img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    filter: saturate(0);
    opacity: 0.3;
}
.text-capitalized{
    text-transform: capitalize !important;
}