@media screen and (min-width: 992px) and (max-width: 1367px) {
    .cli--signup-form-area.cli--login-form-area {
        padding: 80px 30px 0px 0;
    }
    .cli--signup-img-area .cli--signup-img.cli--login-img{
        height: 780px;
    }
}

@media (max-width:991.5px) {
    .cli--signup-form-area.cli--login-form-area {
        padding: 60px 50px;
    }

    .cli--login-remember-area.terms-condition .cli--login-remember-checkbox{
        flex-direction: row;
        align-items: flex-start;
        line-height: 1.8rem;
        font-size: 17px;
    }
    .cli--login-remember-area.terms-condition .cli--login-remember-checkbox a{
        font-size: 17px;
    }
}

@media (max-width:500px) {
    .cli--signup-form-area.cli--login-form-area {
        padding: 30px 10px;
    }

    .cli--login-remember-checkmark {
        width: 23px;
        height: 23px;
        margin-right: 10px;
    }

    .cli--login-remember-checkbox input[type="checkbox"]:checked~.cli--login-remember-checkmark:after {
        top: 3.2px;
        left: 7.5px;
        width: 6px;
        height: 12px;
    }

    .cli--login-remember-checkbox,
    .cli--login-forgot-area .cli--login-forgot,
    .cli--login-remember-checkbox a {
        font-size: 15px;
    }

    .cli--login-no-account-area .cli--login-no-account,
    .cli--login-no-account-area .cli--login-no-account-signup {
        font-size: 16px;
    }
    .cli--login-remember-area.terms-condition .cli--login-remember-checkbox{
        font-size: 16px !important;
    }
    .cli--login-remember-area.terms-condition .cli--login-remember-checkbox a{
        font-size: 16px !important;
    }
}