.candidate-prrofile-section {
    padding: 50px 15px;
}

.profile-head-area {
    margin-bottom: 40px;
}

.profile-head {
    font-size: 25px !important;
    font-weight: 600 !important;
    color: #714F36 !important;
}

.profile-card {
    position: relative;
    padding: 22px;
    border-radius: 16px;
    background-color: #FFF;
    margin-bottom: 20px;
}

.card-flex-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.card-right-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-det-image-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.profile-det-image-container {
    position: relative;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 3px solid #E7E7F1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.profile-det-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    overflow: hidden;
    object-position: top;
}

.prof-img-btn {
    background-color: transparent;
    position: absolute;
    top: 2px;
    right: 2px;
    border: none;
    outline: none;
    z-index: 2;
}

.prof-img-btn .edit-icon {
    color: #714F36;
    transition: ease-in-out 0.5s;
    font-size: 18px;
}

.prof-img-btn:hover .edit-icon {
    color: #000 !important;
}

.prof-img-btn:focus,
.prof-img-btn:active,
.image-view-btn:focus,
.image-view-btn:active {
    border: none;
    outline: none;
}

.image-view-area {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #0000006e;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    flex-shrink: 0;
    transition: opacity ease-in-out 0.5s;
    opacity: 0;
}

.image-view-btn {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}

.image-view-btn:hover {
    transform: scale(1.15);
}

.image-view-btn .img-view-icon {
    color: #FFF;
    font-size: 20px;
}

.profile-det-image-container:hover .image-view-area {
    opacity: 1;
}

.profile--name-edit-section {
    margin-bottom: 8px;
}

.profile--name-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile--name-area .profile--name {
    color: #714F36;
    font-size: 23px;
    font-weight: 600;
    outline: none;
}

.profile--name-edit-icon {
    color: #714F36;
    font-size: 18px;
}

.profile--name-edit-btn {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

.profile--name-edit-btn:focus,
.profile--name-edit-btn:active {
    border: none;
    outline: none;
}

.profile-update-status {
    color: #714F36;
    font-size: 15px;
    font-weight: 400;
}

.profile-name-edit-input-area {
    /* margin: 0px 0px 10px 0; */
    margin: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out, margin 0.5s ease-in-out;
}

.prof-page-divider {
    border-bottom: 1px solid #714F36;
    margin: 20px 0;
}

.profile-name-edit-input-area.expanded {
    margin: 5px 0 20px 0;
    max-height: 100px;
}


.profile-name-edit-input-area.expanded-one {
    margin: 5px 0 10px 0;
    max-height: 200px;
}

.profile-name-edit-input-area.expanded-two {
    margin: 5px 0 20px 0;
    max-height: 200px;
}

.profile--name-edit-btn.expanded i {
    color: red !important;
    font-size: 25px;
    vertical-align: middle;
}

.prof-more-det-edit-btn.expanded i {
    color: red !important;
    font-size: 25px;
    vertical-align: middle;
}

.prof-more-det-edit-btn.expanded .add-detail {
    color: red !important;
}

.prof-more-det-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    transition: all 0.5s;
}

.prof-more-det-area {
    margin-bottom: 15px;
}

.prof-more-det {
    display: flex;
    align-items: center;
    gap: 10px;
}

.prof-more-det i {
    color: #000;
    font-size: 17px;
}

.prof-more-det-title {
    font-size: 14px;
    color: #714F36;
    font-weight: 500;
    word-break: break-all;
}

.prof-more-det-title.link::after {
    content: "\f1c5";
    display: inline-block;
    font-family: 'bootstrap-icons' !important;
    font-style: normal;
    font-weight: normal !important;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: text-top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 5px;
    font-size: 10px;
    color: #1394DF;
}

.prof-more-det-edit-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: #714F36;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding: 0;
    transition: ease-in-out 0.5s;
}

.prof-more-det-edit-btn:hover {
    color: #000 !important;
}

.prof-more-det-edit-btn:focus,
.prof-more-det-edit-btn:active {
    border: none;
    outline: none;
}

.prof-more-det-input-area {
    margin: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out, margin 0.5s ease-in-out;
}

.prof-more-det-input-area.expanded {
    margin: 8px 0 12px 0;
    max-height: 100px;
}

.change-setting-input.more-det,
.setting-update-btn-more-det {
    font-size: 13px !important;
}

.change-setting-input.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.prof-more-det-input-area .toggle-icon {
    position: absolute;
    right: 120px;
    z-index: 3;
    font-size: 14px;
    color: #714F36;
    top: 12px;
}

.change-setting-input.select option {
    background-color: #714F36 !important;
    color: #FFF !important;
}

.change-setting-input.select option:disabled {
    color: #bababa !important;
}

.prof-more-det-edit-btn.expanded {
    color: red;
}

.prof-more-det-edit-btn.expanded:hover {
    color: rgb(229, 0, 0) !important;
}

.prof-more-det-line {
    display: block;
    border-right: 1px solid #714F36;
    height: 100%;
}

/* 
.prof-more-det-left-area {
    border-right: 1px solid #714F36;
    padding-right: 50px;
}

.prof-more-det-right-area {
    padding-left: 50px;
} */
.card-left-area {
    border-radius: 22px;
    background-color: #FFF3D0;
    padding: 20px;
}

.missing-det-content-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 20px;
}

.missing-det-content {
    display: flex;
    align-items: center;
    gap: 15px;

}

.missing-det-icon-area {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.missing-det-icon-area i {
    color: #000;
    font-size: 20px;
}

.missing-det-add-btn {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    color: #714F36;
    font-size: 15px;
    font-weight: 500;
    transition: ease-in-out 0.5s;
}

.missing-det-add-btn:hover {
    color: #000 !important;
}

.missing-det-add-btn:focus,
.missing-det-add-btn:active {
    border: none;
    outline: none;
}

.missing-det-text {
    color: #714F36;
    font-size: 15px;
    font-weight: 500;
}

.missing-det-percentage-area {
    position: relative;
    background-color: #FFF;
    border-radius: 50px;
    padding: 4px 15px;
}

.missing-det-percentage-area svg {
    vertical-align: text-bottom !important;
}

.missing-det-percentage-area .missing-det-percentage {
    color: #2CAC21;
    font-size: 13px;
    font-weight: 500;
    padding-left: 5px;
    vertical-align: -webkit-baseline-middle;
}

.missing-det-btn-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.missing-det-btn {
    color: #714F36;
    border-radius: 8px;
    background-color: #F9C833;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 40px;
    margin: 0;
    transition: ease-in-out 0.5s;
}

.missing-det-btn:hover {
    background-color: #714F36 !important;
    color: #F9C833 !important;
}

.missing-det-btn:focus,
.missing-det-btn:active {
    border: none;
    outline: none;
}

.profile-side-card {
    position: sticky;
    top: 110px;
    padding: 40px 30px;
    border-radius: 16px;
    background-color: #FFF;
    margin-bottom: 20px;
}

.quick-link-head {
    font-size: 20px;
    font-weight: 600;
    color: #714F36;
    margin-bottom: 45px;
}

.pro-quick-link {
    text-decoration: none;
    color: #714F36 !important;
    font-size: 17px !important;
    font-weight: 600 !important;
    transition: ease-in-out 0.5s;
}

.pro-quick-link:hover {
    color: #000 !important;
}

.pro-quick-link-content {
    margin-bottom: 35px !important;
}

.pro-quick-link i {
    color: #1394DF;
    font-size: 15px;
    vertical-align: middle;
    margin-left: 10px;
    transition: opacity ease-in-out 0.3s;
    opacity: 0;
}

.pro-quick-link:hover i {
    opacity: 1;
}

.profile-content-card {
    position: relative;
    padding: 25px;
    border-radius: 16px;
    background-color: #FFF;
    margin-bottom: 20px;
}

.profile-content-title {
    color: #714F36;
    font-size: 20px;
    font-weight: 600;
}

.profile-content-sub-title {
    font-size: 14px;
    color: #714F36;
    font-weight: 400;
    margin-top: 8px;
}

.profile-content-top-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-content-edit-btn,
.profile-skill-edit-btn,
.profile-content-more-inputs-edit-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: #1394DF;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    transition: ease-in-out 0.5s;
}

.personal-det-add-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: #1394DF;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    transition: ease-in-out 0.5s;
}

.profile-content-edit-btn:hover,
.profile-skill-edit-btn:hover,
.profile-content-more-inputs-edit-btn:hover,
.personal-det-add-btn:hover {
    color: #000 !important;
}

.profile-content-edit-btn:focus,
.profile-content-edit-btn:active,
.profile-skill-edit-btn:focus,
.profile-skill-edit-btn:active,
.profile-content-more-inputs-edit-btn:focus,
.profile-content-more-inputs-edit-btn:active,
.personal-det-add-btn:focus,
.personal-det-add-btn:active {
    border: none;
    outline: none;
}

.profile-content-area {
    margin-top: 25px;
}

.profile-content {
    color: #714F36;
    font-weight: 400;
    font-size: 15px;
}

.profile-content.link {
    transition: ease-in-out 0.5s;
}

.profile-content.link:hover {
    color: #1394DF !important;
    text-decoration: underline;
}

.profile-content-input-area {
    margin: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out, margin 0.5s ease-in-out;
}

.profile-content-skill-input-area {
    margin: 0;
    display: none;
    transition: margin 0.5s ease-in-out;
}

.profile-content-skill-input-area.expanded {
    margin: 20px 0 15px 0;
    display: block;
}

.profile-content-input-area.expanded {
    margin: 20px 0 15px 0;
    max-height: 100px;
}

.profile-content-input-area.expanded-large {
    margin: 20px 0 15px 0;
    max-height: 10000px;
}

.profile-content-edit-btn.expanded,
.profile-skill-edit-btn.expanded,
.profile-content-more-inputs-edit-btn.expanded,
.personal-det-add-btn.expanded {
    color: red !important;
}

.profile-content-edit-btn.expanded:hover,
.profile-skill-edit-btn.expanded:hover,
.profile-content-more-inputs-edit-btn.expanded:hover,
.personal-det-add-btn.expanded:hover {
    color: #d40000 !important;
}

.more-inputs-section {
    margin-top: 40px;
}

.more-inputs-btn-area {
    margin: 30px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-content-more-input-area {
    padding-bottom: 10px;
    display: none;
}

.more-inputs-text {
    font-size: 15px;
    color: #714F36;
    font-weight: 600;
}

.more-inputs-area.with-border {
    border-bottom: 1px solid #714F36;
}

.personal-detail-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.personal-det-add-input-area {
    display: none;
    margin-bottom: 40px;
}

.profile-action-btn-area {
    /* margin-top: 40px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view-cv-btn {
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #FFF3D0;
    color: #714F36;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 10px 45px;
    transition: ease-in-out 0.5s;
    outline: none;
}

.view-cv-btn:hover {
    background-color: #714F36;
    color: #FFF3D0;
}

.download-cv-btn {
    border-radius: 8px;
    border: none;
    background-color: #F9C833;
    color: #714F36;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 10px 45px;
    transition: ease-in-out 0.5s;
    outline: none;
}

.download-cv-btn:hover {
    background-color: #714F36;
    color: #F9C833;
}

.view-cv-btn:hover .view-cv-icon {
    color: #FFF3D0;
}

.download-cv-btn:hover .download-cv-icon {
    color: #F9C833;
}

.view-cv-btn .view-cv-icon,
.download-cv-btn .download-cv-icon {
    color: #714F36;
    font-size: 20px;
    margin-right: 15px;
    vertical-align: middle;
    transition: ease-in-out 0.5s;
}

.view-cv-btn:focus,
.view-cv-btn:active,
.download-cv-btn:focus,
.download-cv-btn:active {
    outline: none;
}

.main-footer.no-sidebar {
    padding: 18px 30px !important;
}

.prof-page-file-upload-area {
    position: relative;
    margin: 30px 0 20px 0;
}

.prof-page-file-upload-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px dashed #714F36;
    background-color: #FFF3D0;
    color: #714F36;
    font-size: 15px;
    font-weight: 500;
    padding: 20px 30px;
    cursor: pointer;
}

.file-upload-btn {
    border-radius: 50px;
    padding: 5px 15px;
    border: 1px solid #714F36;
}

#file-chosen {
    position: absolute;
    background-color: #efefef;
    border-radius: 5px;
    font-size: 11px;
    padding: 2px 8px;
    right: 0;
    margin-top: 0px;
    margin-bottom: 15px;
}

.file-upload-btn-area {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.clear-file-btn {
    background-color: #ffdada;
    color: #d40000;
    font-size: 15px;
    font-weight: 600;
    border: #d40000 1px solid;
    border-radius: 50px;
    padding: 3px 15px;
    outline: none;
    transition: ease-in-out 0.5s;
    display: none;
}

.clear-file-btn i {
    vertical-align: middle;
    margin-right: 5px;
}

.clear-file-btn:hover {
    background-color: #d40000 !important;
    color: #ffd2d2 !important;
}

.clear-file-btn:focus,
.clear-file-btn:active,
.save-file-btn:focus,
.save-file-btn:active {
    outline: none;
}

.save-file-btn {
    margin: 0;
    color: #1394DF;
    font-size: 15px;
    font-weight: 600;
    background-color: #dbf2ff;
    outline: none;
    border: 1px solid #1394DF;
    border-radius: 50px;
    padding: 3px 15px;
    transition: ease-in-out 0.5s;
    display: none;
}

.save-file-btn:hover {
    color: #dbf2ff !important;
    background-color: #1394DF !important;
}

.save-file-btn i {
    vertical-align: middle;
    margin-right: 5px;
}


/* /// for image view modal */
.image-view-modal {
    display: none;
    position: fixed;
    z-index: 10000;
    /* padding-top: 50px; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.875)
}

.image-view-modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    border: 1px solid #ffffff;
    /* padding: 10px; */
}

.image-view-close {
    position: absolute;
    top: 20px;
    right: 35px;
    font-weight: bold;
    cursor: pointer;
}

.image-view-close .bi-x {
    color: #FFF !important;
    font-size: 35px;
    transition: ease-in-out 0.5s;
}

.image-view-close:hover,
.image-view-close:focus {
    text-decoration: none;
    cursor: pointer;
}

.image-view-close:hover .bi-x,
.image-view-close:focus .bi-x {
    color: red !important;
}

.profile-content.experince {
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-content.experince span {
    font-weight: 400;
}

.experince-head {
    font-size: 15px;
    font-weight: 600;
    color: #714F36;
    margin-bottom: 10px;
}



.search-result-data-area.custom {
    margin-top: 2px;
    border-radius: 6px;
    max-height: 230px;
}

.search-result-data-area.custom::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    border-radius: 10px !important;
}

.search-result-data-area.custom::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: none !important;
    background-color: #714f36d3;
}

.search-result-data-area.custom::-webkit-scrollbar-track {
    box-shadow: none !important;
    border-radius: 10px;
    background-color: transparent;
}

.search-result-data.custom {
    border-radius: 6px;
    margin: 2px;
}

.candidate-skill-note {
    color: #714F36;
    font-size: 12px;
    font-weight: 400;
}

.candidate-skill-note span {
    font-weight: 600;
}

.setting-update-btn:disabled {
    background-color: #cccccc !important;
    color: #4d4d4d !important;
    border-color: #4d4d4d !important;
    cursor: not-allowed;
}

.change-setting-input:disabled {
    background-color: #eeeeee !important;
    border-color: #4d4d4d !important;
    cursor: not-allowed;
}