.dash-job-det-section {
    padding-top: 30px;
}

.dash-job-det-head {
    font-size: 25px;
    font-weight: 400;
    color: #714F36;
    text-align: center;
}

.dash-job-det-card-area {
    padding-top: 40px;
}

.dash-job-det-card {
    position: relative;
    border-radius: 12px;
    background-color: #F9C833;
    padding: 25px;
}

.dash-job-det-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dash-job-det-card-role {
    color: #714F36;
    font-size: 18px;
    font-weight: 700;
}

.dash-job-det-card-com-area {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.dash-job-det-card-com {
    font-size: 16px;
    color: #714F36;
    font-weight: 400;
}

.dash-job-det-card-det-area {
    display: flex;
    align-items: center;
    gap: 40px;
}

.dash-job-det-card-det i {
    color: #714F36;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 6px;
}

.dash-job-det-card-det span {
    color: #714F36;
    font-size: 12px;
    font-weight: 400;
}

.dash-job-det-card-img-area {
    position: relative;
    border-radius: 8px;
    background-color: #FFF;
    width: 110px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
}

.dash-job-det-card-img-area .dash-job-det-card-img {
    width: 100%;
    object-fit: cover;
}


.dash-job-det-card-body {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.dash-job-det-card-tags-area {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.dash-job-det-card-tag {
    font-size: 12px;
    color: #714F36;
    font-weight: 400;
}

.dash-job-det-card-more-job-btn {
    color: #714F36 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    text-decoration: underline;
    white-space: nowrap;
}

.dash-job-det-card-footer {
    margin-top: 35px;
    border-top: #714F36 1px solid;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dash-job-det-card-status-area {
    display: flex;
    align-items: center;
    gap: 30px;
}