@media (max-width:573px) {
    .settings-area{
        padding: 30px 20px 10px 20px !important;
    }

    .settings-area .card-header,
        .settings-area .card-body{
        padding: 0 !important;
    }

    .settings-area .nav-pills{
        flex-direction: column !important;
        gap: 10px !important;
        padding-bottom: 10px;
    }

    .settings-area .nav-pills .nav-item .nav-link{
        border-radius: 10px !important;
    }
}