.send-email-btn {
    color: #0470c8 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    background-color: #FFF;
    transition: ease-in-out 0.5s;
    border: 2px solid #166ed8 !important;
    padding: 6px 10px !important;
    border-radius: 6px;
    outline: none;
    white-space: nowrap;
}

.send-email-btn:focus,
.send-email-btn:active {
    outline: none;
}

.send-email-btn:hover {
    background-color: #166ed8 !important;
    color: #FFF !important;
}

.send-email-btn .send-icon {
    transition: ease-in-out 0.5s;
    transform: rotate(45deg) !important;
    margin-right: 8px;
    color: #166ed8 !important;
}

.send-email-btn:hover .send-icon {
    color: #FFF !important;
}

.view-det-head {
    color: #714F36;
    font-size: 14px;
    font-weight: 600;
}

.view-det-head::before {
    content: "";
    display: inline-block;
    background-color: #F9C833;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 2px;
}

.view-det-sub-head {
    color: #714F36;
    font-size: 14px;
    font-weight: 500;
}

.view-det-sub-head {
    color: #714F36;
    font-size: 14px;
    font-weight: 500;
}

.view-det-sub-head.link {
    transition: ease-in-out 0.5s;
}

.view-det-sub-head.link:hover {
    color: #1394DF !important;
    text-decoration: underline;
}

.recruiter-view-card {
    margin-bottom: 0;
    border: 1px solid #714F36;
    border-bottom-width: 3px;
    margin-top: 10px;
}

.recruiter-view-modal-header {
    background-color: #f7f9f9 !important;
    border-radius: 10px 10px 0 0;
    padding: 20px 25px;
    box-shadow: 0px 5px 10px #0000001a;
}

.recruiter-view-close {
    color: #ff0000 !important;
    opacity: 1;

}

.recruiter-view-modal-title {
    font-size: 16px !important;
    font-weight: 600 !important;
    border-radius: 8px;
    padding: 5px 15px;
}

.recruiter-view-modal-title.client {
    background-color: #714F36;
    color: #ffffff !important;
}

.recruiter-view-modal-title.client::before {
    content: "";
    display: inline-block;
    background-color: #714F36;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 2px;
    border: 2px solid #F9C833;
}

.recruiter-view-modal-title.candidate::before {
    content: "";
    display: inline-block;
    background-color: #F9C833;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 2px;
    border: 2px solid #FFF;
}

.recruiter-view-modal {
    border-bottom: #714F36 4px solid;
    border-radius: 10px;
    background-color: #e6e6e6;
}

.recruiter-view-modal-footer {
    border-top: none;
    justify-content: flex-end !important;
    border-radius: 0 0 10px 10px !important;
    box-shadow: 0px -5px 10px #00000016;
}

.table-scroll-area::-webkit-scrollbar {
    height: 8px;
    background-color: #F5F5F5;
}

.table-scroll-area::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.table-scroll-area::-webkit-scrollbar-track {
    border-radius: 10px;
}

.no-data-created-area {
    background-color: #F0F0F0;
    border-radius: 16px;
    padding: 32px 25px 25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .no-data-created-area.search-page{
    background-color: #fff;
} */

.no-data-created-area .no-data-created .no-data-text {
    margin-bottom: 0;
    font-size: 16px;
    color: #929292;
}

.no-data-created-area i {
    font-size: 25px;
    vertical-align: middle;
}

.no-data-created-area .no-data-created {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* background-color: #FFF;
    border-radius: 16px;
    padding: 20px; */
}

.no-data-created .no-data-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    filter: saturate(0);
    opacity: 0.3;
}

.text-capitalized {
    text-transform: capitalize !important;
}

.customize-table-layout-area {
    margin-top: 20px;
    background-color: #F0F0F0;
    border-radius: 8px;
    padding: 15px;
    box-shadow: inset 0px 0px 15px #0000001c;
}

.customize-table-layout-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customize-table-layout-head {
    color: #714F36;
    font-size: 16px;
    font-weight: 600;
}

.customize-table-layout-btn {
    outline: none;
    border: none;
    flex-shrink: 0;
    border-radius: 10px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    transition: ease-in-out 0.5s;
    color: #714F36;
    font-size: 14px;
    font-weight: 600;
    gap: 8px;
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.1);
}

.customize-table-layout-btn i {
    color: #714F36;
    font-size: 15px;
    transition: ease-in-out 0.5s;
}

.customize-table-layout-btn:hover {
    background-color: #714F36;
    color: #FFF;
}

.customize-table-layout-btn:hover i {
    color: #FFF;
}

.customize-table-layout-btn:focus {
    outline: none;
    border: none;
}

.customize-table-layout-content {
    margin-top: 0px;
    background-color: #FFF;
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.1);
    border-radius: 8px;
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in-out 0.5s, margin-top ease-in-out 0.5s;
}

.customize-table-layout-content.opened {
    margin-top: 20px;
    max-height: 200vh;
}

.layout-form-check-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    cursor: pointer;
    color: #714F36;
    font-size: 14px !important;
    font-weight: 500;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 10px;
}

.layout-form-check-input input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.layout-form-checkmark {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 2px solid #898989;
    border-radius: 3px;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    outline: none;
    flex-shrink: 0;
}

.layout-form-check-input input[type="checkbox"]:checked~.layout-form-checkmark {
    background-color: #714F36 !important;
    border-color: #714F36;
}

.layout-form-check-input input[type="checkbox"]:checked~.layout-form-checkmark:after {
    content: "";
    position: absolute;
    top: 1.5px;
    left: 5.6px;
    width: 4px;
    height: 9px;
    border: solid #FFF;
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.layout-form-check-input:hover input[type="checkbox"]~.layout-form-checkmark {
    border-color: #714F36 !important;
}

.layout-form-check-input input[type="checkbox"]:disabled~.layout-form-checkmark {
    opacity: 0.5;
    cursor: not-allowed;
}

.layout-form-check-input input[type="checkbox"]:disabled~.layout-form-checkmark:hover {
    border-color: #4d4d4d;
}

.layout-form-check-input.disabled {
    color: #b6b6b6;
    cursor: not-allowed;
}

.customize-table-layout-note {
    color: #929292;
    font-size: 12px;
    font-weight: 500;
    padding: 0 10px 8px 10px;
}